{
  "openapi": "3.1.2",
  "info": {
    "title": "apollo-rest-api",
    "description": "The Apollo API provides programmatic access to [Apollo](https://www.apollo.io/), the all-in-one sales intelligence and engagement platform. Use it to enrich people and company data (individually or in bulk), search Apollo\u0027s database of over 240 million contacts and 30 million companies, and manage accounts, contacts, deals, sequences, tasks, calls, and conversations in your go-to-market workflows.\n\n## Base URL\n\nAll API requests are made to \u0060https://api.apollo.io/api/v1\u0060.\n\n## Authentication\n\n- **Apollo users** authenticate with an API key passed in the \u0060x-api-key\u0060 request header. See [Create API Keys](https://docs.apollo.io/docs/create-api-key).\n- **Apollo partners** building integrations on behalf of mutual users authenticate with the [OAuth 2.0 authorization flow](https://docs.apollo.io/docs/use-oauth-20-authorization-flow-to-access-apollo-user-information-partners).\n\n## Rate limits \u0026 credits\n\nRate limits and credit consumption depend on your [Apollo pricing plan](https://docs.apollo.io/docs/api-pricing). Check your current limits and usage with the [view API usage stats and rate limits](https://docs.apollo.io/reference/view-api-usage-stats) endpoint. For more details, see [Rate Limits](https://docs.apollo.io/reference/rate-limits) and the [API FAQs](https://docs.apollo.io/docs/apollo-api-faqs).\n\nNew to the API? Start with the [Apollo API overview](https://docs.apollo.io/reference/apollo-api).",
    "termsOfService": "https://www.apollo.io/terms/api",
    "contact": {
      "name": "Apollo API Support",
      "url": "https://docs.apollo.io/"
    },
    "version": "1.0",
    "summary": "Programmatic access to Apollo\u0027s sales intelligence and engagement platform \u2014 data enrichment, prospect and company search, and go-to-market workflow management."
  },
  "servers": [
    {
      "url": "https://api.apollo.io/api/v1"
    }
  ],
  "paths": {
    "/people/match": {
      "post": {
        "tags": [
          "Enrichment"
        ],
        "summary": "People enrichment",
        "description": "## Endpoint essentials\n\n**API key access:** \u0060api/v1/people/match\u0060 or \u0060Master API key\u0060\n\n**OAuth scopes:** \u0060people_match\u0060\n\n**Free account access:** Requires an Apollo account registered with a work email address. Paid accounts aren\u0027t affected.\n\n**Credit usage:** \u00601\u20139 credits per person\u0060 without waterfall enrichment\n\nCredits are charged only if credit-consuming data is found: 1 credit for demographics or email, plus 8 credits if a mobile phone is returned. If no credit-consuming data is found, the request consumes 0 credits. Learn more about [API pricing and credits](https://docs.apollo.io/docs/api-pricing).\n\nIf waterfall enrichment is used for phone or email, credit usage depends on the returned data and the vendors included in your [waterfall enrichment configuration](https://knowledge.apollo.io/hc/en-us/articles/34071121664781-Use-Waterfall-Enrichment); some vendors consume credits per lookup even when no data is found.\n\n\u003Ca href=\u0022https://knowledge.apollo.io/hc/en-us/articles/33699917233293-Enrichment-Overview\u0022 target=\u0022_blank\u0022\u003EEnrichment\u003C/a\u003E is when you refresh existing records so your prospecting data is up-to-date.\u003Cbr\u003E\u003Cbr\u003EUse the people enrichment endpoint to enrich data for one person. To enrich data for up to ten people with a single API call, use the \u003Ca href=\u0022https://docs.apollo.io/reference/bulk-people-enrichment\u0022\u003Ebulk people enrichment endpoint\u003C/a\u003E instead.\u003Cbr\u003E\u003Cbr\u003EApollo relies on the information you pass via the endpoint\u0027s parameters to identify the correct person to enrich. If you provide more information about a person, Apollo is more likely to find a match within its database. If you only provide general information, such as a name without a domain or email address, you might receive a \u0060200\u0060 response, but the response indicates that no records have been enriched.\u003Cbr\u003E\u003Cbr\u003EBy default, this endpoint doesn\u0027t return personal emails or phone numbers. Use the \u0060reveal_personal_emails\u0060 and \u0060reveal_phone_number\u0060 parameters to retrieve emails and phone numbers.\u003Cbr\u003E\u003Cbr\u003EWhen you use \u0060reveal_phone_number\u0060, a valid \u0060webhook_url\u0060 is required so Apollo can deliver the completed phone enrichment results. Apollo returns the main enrichment response synchronously, then sends the requested phone numbers to the webhook asynchronously. [See webhook details](#webhook-details).\u003Cbr\u003E\u003Cbr\u003EYou can also use the \u0060run_waterfall_email\u0060 and \u0060run_waterfall_phone\u0060 parameters to run waterfall enrichment via this endpoint. [Waterfall enrichment](https://knowledge.apollo.io/hc/en-us/articles/34071089002509-Waterfall-Enrichment-Overview) gives you broader data coverage by checking connected third-party data sources for contact emails and phone numbers.\u003Cbr\u003E\u003Cbr\u003EWhen you call this endpoint and include at least one waterfall parameter, a valid \u0060webhook_url\u0060 is required so Apollo can deliver the completed waterfall enrichment results. Apollo returns an immediate synchronous response with demographic and firmographic data, along with a waterfall enrichment request status. Apollo then delivers enriched emails or phone numbers asynchronously to the configured webhook.\n\n### Webhook Details\n\n- When using Apollo enrichment for phone number reveal, the webhook response follows: [Native webhook response details](doc:retrieve-mobile-phone-numbers-for-contacts#webhook-response-details).\n\n- When using waterfall enrichment, the webhook response follows: [Waterfall webhook response details](doc:enrich-phone-and-email-using-data-waterfall#response-details).\n\n- You can poll webhook results with the [poll webhook result](doc:poll-webhook-result) endpoint by passing the \u003Ccode\u003Erequest_id\u003C/code\u003E from the people enrichment response.\n\n### Webhook Requirements\n\n- **HTTPS Required:** Your endpoint must be publicly accessible over HTTPS.\n\n- **Rate Limiting:** Ensure your webhook endpoint can handle the volume of webhook traffic sent by Apollo.\n\n- **Idempotency:** Apollo may retry webhook calls; your endpoint should be idempotent to handle duplicate payloads safely.",
        "operationId": "PeopleEnrichment",
        "parameters": [
          {
            "name": "first_name",
            "in": "query",
            "description": "The first name of the person. This is typically used in combination with the \u0060last_name\u0060 parameter. \u003Cbr\u003E\u003Cbr\u003EExample: \u0060tim\u0060",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "description": "The last name of the person. This is typically used in combination with the \u0060first_name\u0060 parameter. \u003Cbr\u003E\u003Cbr\u003EExample: \u0060zheng\u0060",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "The full name of the person. This will typically be a first name and last name separated by a space.  If you use this parameter, you do not need to use the \u0060first_name\u0060 and \u0060last_name\u0060 parameters. \u003Cbr\u003E\u003Cbr\u003EExample: \u0060tim zheng\u0060",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "The email address of the person. \u003Cbr\u003E\u003Cbr\u003EExample: \u0060example@email.com\u0060",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hashed_email",
            "in": "query",
            "description": "The hashed email of the person. The email should adhere to either the MD5 or SHA-256 hash format. \u003Cbr\u003E\u003Cbr\u003EExample: \u00608d935115b9ff4489f2d1f9249503cadf\u0060 (MD5) or \u006097817c0c49994eb500ad0a5e7e2d8aed51977b26424d508f66e4e8887746a152\u0060 (SHA-256)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "organization_name",
            "in": "query",
            "description": "The name of the person\u0027s employer. This can be the current employer or a previous employer. \u003Cbr\u003E\u003Cbr\u003EExample: \u0060apollo\u0060",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "The domain name for the person\u0027s employer. This can be the current employer or a previous employer. Do not include \u0060www.\u0060, the \u0060@\u0060 symbol, or similar. \u003Cbr\u003E\u003Cbr\u003EExample: \u0060apollo.io\u0060 or \u0060microsoft.com\u0060",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The Apollo ID for the person. Each person in the Apollo database is assigned a unique ID. \u003Cbr\u003E\u003Cbr\u003ETo find IDs, call the \u003Ca href=\u0022https://docs.apollo.io/reference/people-api-search\u0022 target=\u0022_blank\u0022\u003Epeople API search endpoint\u003C/a\u003E and identify the values for \u0060person_id\u0060. \u003Cbr\u003E\u003Cbr\u003EExample: \u0060587cf802f65125cad923a266\u0060",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "linkedin_url",
            "in": "query",
            "description": "The URL for the person\u0027s LinkedIn profile. \u003Cbr\u003E\u003Cbr\u003EExample: \u0060http://www.linkedin.com/in/tim-zheng-677ba010\u0060",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_waterfall_email",
            "in": "query",
            "description": "Set to true to enable email waterfall enrichment",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "run_waterfall_phone",
            "in": "query",
            "description": "Set to true to enable phone waterfall enrichment",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "reveal_personal_emails",
            "in": "query",
            "description": "Set to \u0060true\u0060 if you want to enrich the person\u0027s data with personal emails. This potentially consumes credits as part of your \u003Ca href=\u0022https://docs.apollo.io/docs/api-pricing\u0022 target=\u0022_blank\u0022\u003EApollo pricing plan\u003C/a\u003E. The default value is \u0060false\u0060. \u003Cbr\u003E\u003Cbr\u003EIf a person resides in a \u003Ca href=\u0022https://knowledge.apollo.io/hc/en-us/articles/4409141087757\u0022 target=\u0022_blank\u0022\u003EGDPR\u003C/a\u003E-compliant region, Apollo will not reveal their personal email.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "reveal_phone_number",
            "in": "query",
            "description": "Set to \u0060true\u0060 if you want to enrich the person\u0027s data with all available phone numbers, including mobile phone numbers. This potentially consumes credits as part of your \u003Ca href=\u0022https://docs.apollo.io/docs/api-pricing\u0022 target=\u0022_blank\u0022\u003EApollo pricing plan\u003C/a\u003E. The default value is \u0060false\u0060. \u003Cbr\u003E\u003Cbr\u003EIf this parameter is set to \u0060true\u0060, you must enter a webhook URL for the \u0060webhook_url\u0060 parameter. Apollo will asynchronously verify phone numbers for you, then send a JSON response that includes only details about the person\u0027s phone numbers to the webhook URL you provide. It can take several minutes for the phone numbers to be delivered.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "webhook_url",
            "in": "query",
            "description": "If you set the \u0060reveal_phone_number\u0060 parameter to \u0060true\u0060, this parameter becomes mandatory. Otherwise, do not use this parameter. \u003Cbr\u003E\u003Cbr\u003EEnter the webhook URL that specifies where Apollo should send a JSON response that includes the phone number you requested. Apollo suggests testing this flow to ensure you receive the separate response with the phone number. \u003Cbr\u003E\u003Cbr\u003EIf phone numbers are not delivered to the webhook URL, try applying UTF-8 encoding to the webhook URL. \u003Cbr\u003E\u003Cbr\u003EExample: \u0060https://webhook.site/11f2643a-b1b4-c6be-8e6a-6c7da2c12610\u0060; \u0060https%3A%2F%2Fwebhook.site%2F11f2643a-b1b4-c6be-8e6a-6c7da2c12610\u0060",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleEnrichment200Response"
                },
                "examples": {
                  "Result": {
                    "value": {
                      "person": {
                        "id": "64a7ff0cc4dfae00013df1a5",
                        "first_name": "Tim",
                        "last_name": "Zheng",
                        "name": "Tim Zheng",
                        "linkedin_url": "http://www.linkedin.com/in/tim-zheng-677ba010",
                        "title": "Founder \u0026 CEO",
                        "email_status": "verified",
                        "photo_url": "https://static.licdn.com/aero-v1/sc/h/uzfsocwl05iywf1hd7ba3915x",
                        "twitter_url": null,
                        "github_url": null,
                        "facebook_url": null,
                        "extrapolated_email_confidence": null,
                        "headline": "Founder \u0026 CEO at Apollo",
                        "email": "tim@apollo.io",
                        "organization_id": "5e66b6381e05b4008c8331b8",
                        "employment_history": [
                          {
                            "_id": "66d7af8c200cad0001404c1f",
                            "created_at": null,
                            "current": true,
                            "degree": null,
                            "description": null,
                            "emails": null,
                            "end_date": null,
                            "grade_level": null,
                            "kind": null,
                            "major": null,
                            "organization_id": "5e66b6381e05b4008c8331b8",
                            "organization_name": "Apollo",
                            "raw_address": null,
                            "start_date": "2016-01-01",
                            "title": "Founder \u0026 CEO",
                            "updated_at": null,
                            "id": "66d7af8c200cad0001404c1f",
                            "key": "66d7af8c200cad0001404c1f"
                          },
                          {
                            "_id": "66d7af8c200cad0001404c20",
                            "created_at": null,
                            "current": false,
                            "degree": null,
                            "description": null,
                            "emails": null,
                            "end_date": "2015-01-01",
                            "grade_level": null,
                            "kind": null,
                            "major": null,
                            "organization_id": null,
                            "organization_name": "Braingenie",
                            "raw_address": null,
                            "start_date": "2011-01-01",
                            "title": "Founder \u0026 CEO",
                            "updated_at": null,
                            "id": "66d7af8c200cad0001404c20",
                            "key": "66d7af8c200cad0001404c20"
                          },
                          {
                            "_id": "66d7af8c200cad0001404c21",
                            "created_at": null,
                            "current": false,
                            "degree": null,
                            "description": null,
                            "emails": null,
                            "end_date": "2011-01-01",
                            "grade_level": null,
                            "kind": null,
                            "major": null,
                            "organization_id": "54a22f23746869331840e813",
                            "organization_name": "Citadel Investment Group",
                            "raw_address": null,
                            "start_date": "2011-01-01",
                            "title": "Investment \u0026 Trading Associate",
                            "updated_at": null,
                            "id": "66d7af8c200cad0001404c21",
                            "key": "66d7af8c200cad0001404c21"
                          },
                          {
                            "_id": "66d7af8c200cad0001404c22",
                            "created_at": null,
                            "current": false,
                            "degree": null,
                            "description": null,
                            "emails": null,
                            "end_date": "2010-09-01",
                            "grade_level": null,
                            "kind": null,
                            "major": null,
                            "organization_id": "54a1216169702d7fe6dfca02",
                            "organization_name": "The Boston Consulting Group",
                            "raw_address": null,
                            "start_date": "2010-08-01",
                            "title": "Summer Associate",
                            "updated_at": null,
                            "id": "66d7af8c200cad0001404c22",
                            "key": "66d7af8c200cad0001404c22"
                          },
                          {
                            "_id": "66d7af8c200cad0001404c23",
                            "created_at": null,
                            "current": false,
                            "degree": null,
                            "description": null,
                            "emails": null,
                            "end_date": "2010-08-01",
                            "grade_level": null,
                            "kind": null,
                            "major": null,
                            "organization_id": "5da2e6a3f978a8000177e831",
                            "organization_name": "Goldman Sachs",
                            "raw_address": null,
                            "start_date": "2010-06-01",
                            "title": "Summer Analyst",
                            "updated_at": null,
                            "id": "66d7af8c200cad0001404c23",
                            "key": "66d7af8c200cad0001404c23"
                          },
                          {
                            "_id": "66d7af8c200cad0001404c24",
                            "created_at": null,
                            "current": false,
                            "degree": null,
                            "description": null,
                            "emails": null,
                            "end_date": "2010-02-01",
                            "grade_level": null,
                            "kind": null,
                            "major": null,
                            "organization_id": "54a1a06274686945fa1ffc02",
                            "organization_name": "Jane Street",
                            "raw_address": null,
                            "start_date": "2009-12-01",
                            "title": "Trading Intern",
                            "updated_at": null,
                            "id": "66d7af8c200cad0001404c24",
                            "key": "66d7af8c200cad0001404c24"
                          }
                        ],
                        "state": "California",
                        "city": "San Francisco",
                        "country": "United States",
                        "contact_id": "664fa05cf8299f0001f90876",
                        "contact": {
                          "contact_roles": [],
                          "id": "664fa05cf8299f0001f90876",
                          "first_name": "Roy",
                          "last_name": "Chung",
                          "name": "Roy Chung",
                          "linkedin_url": "http://www.linkedin.com/in/tim-zheng-677ba010",
                          "title": "Reaching Peak Potential \uD83D\uDCAA\u26F0\uFE0F\uD83D\uDCC8\uD83E\uDDEA\uFE0F | President",
                          "contact_stage_id": "6095a710bd01d100a506d4ae",
                          "owner_id": null,
                          "creator_id": "66302798d03b9601c7934ec2",
                          "person_id": "64a7ff0cc4dfae00013df1a5",
                          "email_needs_tickling": null,
                          "organization_name": "Apollo.io",
                          "source": "crm",
                          "original_source": "crm",
                          "organization_id": "5e66b6381e05b4008c8331b8",
                          "headline": "Reaching Peak Potential \uD83D\uDCAA\u26F0\uFE0F\uD83D\uDCC8\uD83E\uDDEA\uFE0F | President at FRC",
                          "photo_url": null,
                          "present_raw_address": "New York, New York, United States",
                          "linkedin_uid": null,
                          "extrapolated_email_confidence": null,
                          "salesforce_id": null,
                          "salesforce_lead_id": null,
                          "salesforce_contact_id": null,
                          "salesforce_account_id": null,
                          "crm_owner_id": null,
                          "created_at": "2024-05-23T20:00:28.527Z",
                          "emailer_campaign_ids": [],
                          "direct_dial_status": null,
                          "direct_dial_enrichment_failed_at": null,
                          "email_status": "verified",
                          "email_source": null,
                          "account_id": "6658955877a2f20001c648ac",
                          "last_activity_date": null,
                          "hubspot_vid": null,
                          "hubspot_company_id": null,
                          "crm_id": null,
                          "sanitized_phone": "\u002B11235550158",
                          "merged_crm_ids": null,
                          "updated_at": "2024-06-02T08:53:51.266Z",
                          "queued_for_crm_push": null,
                          "suggested_from_rule_engine_config_id": null,
                          "email_unsubscribed": null,
                          "label_ids": [],
                          "has_pending_email_arcgate_request": false,
                          "has_email_arcgate_request": false,
                          "existence_level": "invisible",
                          "email": "roy@apollo.io",
                          "email_from_customer": true,
                          "typed_custom_fields": {},
                          "custom_field_errors": null,
                          "crm_record_url": null,
                          "email_status_unavailable_reason": null,
                          "email_true_status": "Verified",
                          "updated_email_true_status": false,
                          "contact_rule_config_statuses": [],
                          "source_display_name": "Imported from CRM",
                          "contact_emails": [
                            {
                              "email": "roy@apollo.iorrr",
                              "email_md5": "879440a4afe6515e2de11dd7c531b770",
                              "email_sha256": "d445592892011f8539d5e92394929dfda7936867c21000b21788be8a46aa73d9",
                              "email_status": "verified",
                              "email_source": null,
                              "extrapolated_email_confidence": null,
                              "position": 0,
                              "email_from_customer": null,
                              "free_domain": false
                            }
                          ],
                          "time_zone": "America/Los_Angeles",
                          "phone_numbers": [
                            {
                              "raw_number": "(123) 555-0158",
                              "sanitized_number": "\u002B11235550158",
                              "type": null,
                              "position": 0,
                              "status": "valid_number",
                              "dnc_status": null,
                              "dnc_other_info": null,
                              "dialer_flags": null
                            },
                            {
                              "raw_number": "(123) 555-0126",
                              "sanitized_number": "\u002B11235550126",
                              "type": null,
                              "position": 1,
                              "status": "valid_number",
                              "dnc_status": null,
                              "dnc_other_info": null,
                              "dialer_flags": null
                            },
                            {
                              "raw_number": "\u002B1-415-555-0121",
                              "sanitized_number": "\u002B14155550121",
                              "type": null,
                              "position": 2,
                              "status": "valid_number",
                              "dnc_status": null,
                              "dnc_other_info": null,
                              "dialer_flags": {
                                "country_name": "United States",
                                "country_enabled": true,
                                "high_risk_calling_enabled": false,
                                "potential_high_risk_number": false
                              }
                            }
                          ],
                          "account_phone_note": null,
                          "free_domain": false,
                          "is_likely_to_engage": false
                        },
                        "revealed_for_current_team": true,
                        "organization": {
                          "id": "5e66b6381e05b4008c8331b8",
                          "name": "Apollo.io",
                          "website_url": "http://www.apollo.io",
                          "blog_url": null,
                          "angellist_url": null,
                          "linkedin_url": "http://www.linkedin.com/company/apolloio",
                          "twitter_url": "https://twitter.com/meetapollo/",
                          "facebook_url": "https://www.facebook.com/MeetApollo",
                          "primary_phone": {},
                          "languages": [],
                          "alexa_ranking": 3514,
                          "phone": null,
                          "linkedin_uid": "18511550",
                          "founded_year": 2015,
                          "publicly_traded_symbol": null,
                          "publicly_traded_exchange": null,
                          "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/79049be00ff8e398b5935de8/picture",
                          "crunchbase_url": null,
                          "primary_domain": "apollo.io",
                          "industry": "information technology \u0026 services",
                          "keywords": [
                            "sales engagement",
                            "lead generation",
                            "predictive analytics",
                            "lead scoring",
                            "sales strategy",
                            "conversation intelligence",
                            "sales enablement",
                            "lead routing",
                            "sales development",
                            "email engagement",
                            "revenue intelligence",
                            "sales operations",
                            "sales intelligence",
                            "lead intelligence",
                            "prospecting",
                            "b2b data"
                          ],
                          "estimated_num_employees": 1600,
                          "industries": [
                            "information technology \u0026 services"
                          ],
                          "secondary_industries": [],
                          "snippets_loaded": true,
                          "industry_tag_id": "5567cd4773696439b10b0000",
                          "industry_tag_hash": {
                            "information technology \u0026 services": "5567cd4773696439b10b0000"
                          },
                          "retail_location_count": 0,
                          "raw_address": "415 Mission St, Floor 37, San Francisco, California 94105, US",
                          "street_address": "415 Mission St",
                          "city": "San Francisco",
                          "state": "California",
                          "postal_code": "94105-2301",
                          "country": "United States",
                          "owned_by_organization_id": null,
                          "seo_description": "Search, engage, and convert over 240 million contacts at over 30 million companies with Apollo\u0027s sales intelligence and engagement platform.",
                          "short_description": "Apollo.io combines a buyer database of over 270M contacts and powerful sales engagement and automation tools in one, easy to use platform. Trusted by over 160,000 companies including Autodesk, Rippling, Deel, Jasper.ai, Divvy, and Heap, Apollo has more than one million users globally. By helping sales professionals find their ideal buyers and intelligently automate outreach, Apollo helps go-to-market teams sell anything.\n\nCelebrating a $100M Series D Funding Round \uD83E\uDD84",
                          "suborganizations": [],
                          "num_suborganizations": 0,
                          "annual_revenue_printed": "100M",
                          "annual_revenue": 100000000,
                          "total_funding": 251200000,
                          "total_funding_printed": "251.2M",
                          "latest_funding_round_date": "2023-08-01T00:00:00.000\u002B00:00",
                          "latest_funding_stage": "Series D",
                          "funding_events": [
                            {
                              "id": "6574c1ff9b797d0001fdab1b",
                              "date": "2023-08-01T00:00:00.000\u002B00:00",
                              "news_url": null,
                              "type": "Series D",
                              "investors": "Bain Capital Ventures, Sequoia Capital, Tribe Capital, Nexus Venture Partners",
                              "amount": "100M",
                              "currency": "$"
                            },
                            {
                              "id": "624f4dfec786590001768016",
                              "date": "2022-03-01T00:00:00.000\u002B00:00",
                              "news_url": null,
                              "type": "Series C",
                              "investors": "Sequoia Capital, Tribe Capital, Nexus Venture Partners, NewView Capital",
                              "amount": "110M",
                              "currency": "$"
                            },
                            {
                              "id": "61b13677623110000186a478",
                              "date": "2021-10-01T00:00:00.000\u002B00:00",
                              "news_url": null,
                              "type": "Series B",
                              "investors": "Tribe Capital, NewView Capital, Nexus Venture Partners",
                              "amount": "32M",
                              "currency": "$"
                            },
                            {
                              "id": "5ffe93caa54d75077c59acef",
                              "date": "2018-06-26T00:00:00.000\u002B00:00",
                              "news_url": "https://techcrunch.com/2018/06/26/yc-grad-zenprospect-rebrands-as-apollo-lands-7-m-series-a/",
                              "type": "Series A",
                              "investors": "Nexus Venture Partners, Social Capital, Y Combinator",
                              "amount": "7M",
                              "currency": "$"
                            },
                            {
                              "id": "6574c1ff9b797d0001fdab20",
                              "date": "2016-10-01T00:00:00.000\u002B00:00",
                              "news_url": null,
                              "type": "Other",
                              "investors": "Y Combinator, SV Angel, Social Capital, Nexus Venture Partners",
                              "amount": "2.2M",
                              "currency": "$"
                            }
                          ],
                          "technology_names": [
                            "AI",
                            "Android",
                            "Basis",
                            "Canva",
                            "Circle",
                            "CloudFlare Hosting",
                            "Cloudflare DNS",
                            "Drift",
                            "Gmail",
                            "Google Apps",
                            "Google Tag Manager",
                            "Google Workspace",
                            "Gravity Forms",
                            "Hubspot",
                            "Intercom",
                            "Mailchimp Mandrill",
                            "Marketo",
                            "Microsoft Office 365",
                            "Mobile Friendly",
                            "Python",
                            "Rackspace MailGun",
                            "Remote",
                            "Render",
                            "Reviews",
                            "Salesforce",
                            "Stripe",
                            "Typekit",
                            "WP Engine",
                            "Wistia",
                            "WordPress.org",
                            "Yandex Metrica",
                            "reCAPTCHA"
                          ],
                          "current_technologies": [
                            {
                              "uid": "ai",
                              "name": "AI",
                              "category": "Other"
                            },
                            {
                              "uid": "android",
                              "name": "Android",
                              "category": "Frameworks and Programming Languages"
                            },
                            {
                              "uid": "basis",
                              "name": "Basis",
                              "category": "Advertising Networks"
                            },
                            {
                              "uid": "canva",
                              "name": "Canva",
                              "category": "Content Management Platform"
                            },
                            {
                              "uid": "circle",
                              "name": "Circle",
                              "category": "Financial Software"
                            },
                            {
                              "uid": "cloudflare_hosting",
                              "name": "CloudFlare Hosting",
                              "category": "Hosting"
                            },
                            {
                              "uid": "cloudflare_dns",
                              "name": "Cloudflare DNS",
                              "category": "Domain Name Services"
                            },
                            {
                              "uid": "drift",
                              "name": "Drift",
                              "category": "Widgets"
                            },
                            {
                              "uid": "gmail",
                              "name": "Gmail",
                              "category": "Email Providers"
                            },
                            {
                              "uid": "google_apps",
                              "name": "Google Apps",
                              "category": "Other"
                            },
                            {
                              "uid": "google_tag_manager",
                              "name": "Google Tag Manager",
                              "category": "Tag Management"
                            },
                            {
                              "uid": "google workspace",
                              "name": "Google Workspace",
                              "category": "Cloud Services"
                            },
                            {
                              "uid": "gravity_forms",
                              "name": "Gravity Forms",
                              "category": "Hosted Forms"
                            },
                            {
                              "uid": "hubspot",
                              "name": "Hubspot",
                              "category": "Marketing Automation"
                            },
                            {
                              "uid": "intercom",
                              "name": "Intercom",
                              "category": "Support and Feedback"
                            },
                            {
                              "uid": "mailchimp_mandrill",
                              "name": "Mailchimp Mandrill",
                              "category": "Email Delivery"
                            },
                            {
                              "uid": "marketo",
                              "name": "Marketo",
                              "category": "Marketing Automation"
                            },
                            {
                              "uid": "office_365",
                              "name": "Microsoft Office 365",
                              "category": "Other"
                            },
                            {
                              "uid": "mobile_friendly",
                              "name": "Mobile Friendly",
                              "category": "Other"
                            },
                            {
                              "uid": "python",
                              "name": "Python",
                              "category": "Frameworks and Programming Languages"
                            },
                            {
                              "uid": "rackspace_mailgun",
                              "name": "Rackspace MailGun",
                              "category": "Email Delivery"
                            },
                            {
                              "uid": "remote",
                              "name": "Remote",
                              "category": "Other"
                            },
                            {
                              "uid": "render",
                              "name": "Render",
                              "category": "Other"
                            },
                            {
                              "uid": "reviews",
                              "name": "Reviews",
                              "category": "Customer Reviews"
                            },
                            {
                              "uid": "salesforce",
                              "name": "Salesforce",
                              "category": "Customer Relationship Management"
                            },
                            {
                              "uid": "stripe",
                              "name": "Stripe",
                              "category": "Payments"
                            },
                            {
                              "uid": "typekit",
                              "name": "Typekit",
                              "category": "Fonts"
                            },
                            {
                              "uid": "wp_engine",
                              "name": "WP Engine",
                              "category": "CMS"
                            },
                            {
                              "uid": "wistia",
                              "name": "Wistia",
                              "category": "Online Video Platforms"
                            },
                            {
                              "uid": "wordpress_org",
                              "name": "WordPress.org",
                              "category": "CMS"
                            },
                            {
                              "uid": "yandex_metrika",
                              "name": "Yandex Metrica",
                              "category": "Analytics and Tracking"
                            },
                            {
                              "uid": "recaptcha",
                              "name": "reCAPTCHA",
                              "category": "Captcha"
                            }
                          ],
                          "org_chart_root_people_ids": [
                            "652fc57e2802bf00010c52f8"
                          ],
                          "org_chart_sector": "OrgChart::SectorHierarchy::Rules::IT",
                          "org_chart_removed": false,
                          "org_chart_show_department_filter": true
                        },
                        "is_likely_to_engage": true,
                        "show_intent": false,
                        "departments": [
                          "c_suite"
                        ],
                        "subdepartments": [
                          "executive",
                          "founder"
                        ],
                        "functions": [
                          "entrepreneurship"
                        ],
                        "seniority": "founder"
                      },
                      "waterfall": {
                        "status": "accepted",
                        "message": "Waterfall enrichment request accepted. Results will be sent to the provided webhook URL."
                      },
                      "request_id": 1039995589705121900
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "description": "Fallback media schema"
                },
                "examples": {
                  "Check API key": {
                    "value": "Invalid API key. See https://docs.apollo.io/reference/authentication for how to authenticate."
                  }
                }
              }
            }
          },
          "429": {
            "description": "429",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeopleEnrichment429Response"
                },
                "examples": {
                  "Too many requests": {
                    "value": {
                      "message": "The maximum number of api calls allowed for api/v1/people/match is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/people/bulk_match": {
      "post": {
        "tags": [
          "Enrichment"
        ],
        "summary": "Bulk people enrichment",
        "description": "## Endpoint essentials\n\n**API key access:** \u0060api/v1/people/bulk_match\u0060 or \u0060Master API key\u0060\n\n**OAuth scopes:** \u0060people_bulk_match\u0060\n\n**Free account access:** Requires an Apollo account registered with a work email address. Paid accounts aren\u0027t affected.\n\n**Credit usage:** \u00601\u20139 credits per person\u0060 without waterfall enrichment\n\nCredits are charged only if credit-consuming data is found: 1 credit for demographics or email, plus 8 credits if a mobile phone is returned. If no credit-consuming data is found, the request consumes 0 credits. You can enrich up to 10 people per request. Learn more about [API pricing and credits](https://docs.apollo.io/docs/api-pricing).\n\nIf waterfall enrichment is used for phone or email, credit usage depends on the returned data and the vendors included in your [waterfall enrichment configuration](https://knowledge.apollo.io/hc/en-us/articles/34071121664781-Use-Waterfall-Enrichment); some vendors consume credits per lookup even when no data is found.\n\n\u003Ca href=\u0022https://knowledge.apollo.io/hc/en-us/articles/33699917233293-Enrichment-Overview\u0022 target=\u0022_blank\u0022\u003EEnrichment\u003C/a\u003E is when you refresh existing records so your prospecting data is up-to-date.\u003Cbr\u003E\u003Cbr\u003EUse the bulk people enrichment endpoint to enrich data for up to ten people with a single API call. To enrich data for a single person, use the \u003Ca href=\u0022https://docs.apollo.io/reference/people-enrichment\u0022\u003Epeople enrichment endpoint\u003C/a\u003E instead.\u003Cbr\u003E\u003Cbr\u003EApollo relies on the information you pass via the endpoint\u0027s parameters to identify the correct people to enrich. When you provide more information, Apollo is more likely to find matches within its database. If you only provide general information, such as a name without a domain or email address, you may receive a \u0060200\u0060 response, but the response indicates that no records have been enriched. The details for each person should be passed as an object in the \u0060details[]\u0060 array.\u003Cbr\u003E\u003Cbr\u003EBy default, this endpoint doesn\u0027t return personal emails or phone numbers. Use the \u0060reveal_personal_emails\u0060 parameter to retrieve personal emails and \u0060reveal_phone_number\u0060 to retrieve phone numbers. If you set either of these parameters to \u0060true\u0060, Apollo attempts to provide emails or phone numbers for all matches.\u003Cbr\u003E\u003Cbr\u003EWhen you use \u0060reveal_phone_number\u0060, a valid \u0060webhook_url\u0060 is required so Apollo can deliver the completed phone enrichment results. Apollo returns the main enrichment response synchronously, then sends the requested phone numbers to the webhook asynchronously. [See webhook details](#webhook-details).\u003Cbr\u003E\u003Cbr\u003EYou can also use the \u0060run_waterfall_email\u0060 and \u0060run_waterfall_phone\u0060 parameters to run waterfall enrichment via this endpoint. [Waterfall enrichment](https://knowledge.apollo.io/hc/en-us/articles/34071089002509-Waterfall-Enrichment-Overview) gives you broader data coverage by checking connected third-party data sources for contact emails and phone numbers.\u003Cbr\u003E\u003Cbr\u003EWhen you call this endpoint and include at least one waterfall parameter, a valid \u0060webhook_url\u0060 is required so Apollo can deliver the completed waterfall enrichment results. Apollo returns an immediate synchronous response with demographic and firmographic data, along with a waterfall enrichment request status. Apollo then delivers enriched emails or phone numbers asynchronously to the configured webhook.\u003Cbr\u003E\u003Cbr\u003E\n\n### Reading the Response\n\nThe response shape depends on whether you requested waterfall enrichment, so check for the fields you need rather than assuming a fixed payload.\n\n**Standard requests** (no waterfall parameters) return \u0060total_requested_enrichments\u0060, \u0060unique_enriched_records\u0060, \u0060missing_records\u0060, and \u0060credits_consumed\u0060 alongside \u0060matches\u0060.\n\n**Waterfall requests** (\u0060run_waterfall_email\u0060 or \u0060run_waterfall_phone\u0060 set to \u0060true\u0060) return a \u0060waterfall\u0060 object instead. On these, \u0060unique_enriched_records\u0060, \u0060missing_records\u0060, and \u0060credits_consumed\u0060 are **absent entirely** \u2014 not zero \u2014 because enrichment is still running and final credit usage isn\u0027t known. Only \u0060total_requested_enrichments\u0060 appears in both shapes. When \u0060run_waterfall_email\u0060 is \u0060true\u0060, each \u0060matches\u0060 entry also omits \u0060email\u0060 and \u0060email_status\u0060, since the address arrives later via your webhook.\n\nAlso worth knowing:\n\n* \u0060unique_enriched_records\u0060 counts distinct people that **consumed credits**, not people that matched. It can be lower than the length of \u0060matches\u0060, or \u00600\u0060 while \u0060matches\u0060 is non-empty.\n\n* \u0060credits_consumed\u0060 can be fractional depending on your plan\u0027s credit pricing. Parse it as a decimal.\n\n* \u0060request_id\u0060 is a signed 64-bit integer and is frequently negative. Store it in a type that handles the full signed range, and pass it unchanged to [poll webhook result](https://docs.apollo.io/reference/poll-webhook-result).\n\n* \u0060status\u0060 is \u0060success\u0060 for any \u0060200\u0060 response, including one that matched nobody. Use \u0060missing_records\u0060 and \u0060matches\u0060 to judge what was actually enriched.\n\n### Webhook Details\n\n* When using native phone enrichment, the webhook response follows: [Native webhook response details](doc:retrieve-mobile-phone-numbers-for-contacts#webhook-response-details).\n\n* When using waterfall enrichment, the webhook response follows: [Waterfall webhook response details](doc:enrich-phone-and-email-using-data-waterfall#response-details).\n\n* You can poll webhook results with the \u003Ca href=\u0022https://docs.apollo.io/reference/poll-webhook-result\u0022\u003Epoll webhook result\u003C/a\u003E endpoint by passing the \u003Ccode\u003Erequest_id\u003C/code\u003E from the bulk people enrichment response.\n\n### Webhook Requirements\n\n* **HTTPS Required:** Your endpoint must be publicly accessible over HTTPS.\n\n* **Rate Limiting:** Ensure your webhook endpoint can handle the volume of webhook traffic sent by Apollo.\n\n* **Idempotency:** Apollo may retry webhook calls. Your endpoint should be idempotent to handle duplicate payloads safely.",
        "operationId": "BulkPeopleEnrichment",
        "parameters": [
          {
            "name": "run_waterfall_email",
            "in": "query",
            "description": "Set to true to enable email waterfall enrichment",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "run_waterfall_phone",
            "in": "query",
            "description": "Set to true to enable phone waterfall enrichment",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "reveal_personal_emails",
            "in": "query",
            "description": "Set to \u0060true\u0060 if you want to enrich all matched people with personal emails. This potentially consumes credits as part of your \u003Ca href=\u0022https://docs.apollo.io/docs/api-pricing\u0022 target=\u0022_blank\u0022\u003EApollo pricing plan\u003C/a\u003E. The default value is \u0060false\u0060. \u003Cbr\u003E\u003Cbr\u003EIf a person resides in a \u003Ca href=\u0022https://knowledge.apollo.io/hc/en-us/articles/4409141087757\u0022 target=\u0022_blank\u0022\u003EGDPR\u003C/a\u003E-compliant region, Apollo will not reveal their personal email.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "reveal_phone_number",
            "in": "query",
            "description": "Set to \u0060true\u0060 if you want to enrich the data of all matched people with all available phone numbers, including mobile phone numbers. This potentially consumes credits as part of your \u003Ca href=\u0022https://docs.apollo.io/docs/api-pricing\u0022 target=\u0022_blank\u0022\u003EApollo pricing plan\u003C/a\u003E. The default value is \u0060false\u0060. \u003Cbr\u003E\u003Cbr\u003EIf this parameter is set to \u0060true\u0060, you must enter a webhook URL for the \u0060webhook_url\u0060 parameter. Apollo will asynchronously verify phone numbers for you, then send a JSON response that includes only details about the phone numbers to the webhook URL you provide. It can take several minutes for the phone numbers to be delivered.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "webhook_url",
            "in": "query",
            "description": "If you set the \u0060reveal_phone_number\u0060 parameter to \u0060true\u0060, this parameter becomes mandatory. Otherwise, do not use this parameter. \u003Cbr\u003E\u003Cbr\u003EEnter the webhook URL that specifies where Apollo should send a JSON response that includes the phone number you requested. Apollo suggests testing this flow to ensure you receive the separate response with the phone number. \u003Cbr\u003E\u003Cbr\u003EIf phone numbers are not revealed delivered to the webhook URL, try applying UTF-8 encoding to the webhook URL. \u003Cbr\u003E\u003Cbr\u003EExample: \u0060https://webhook.site/11f2643a-b1b4-c6be-8e6a-6c7da2c12610\u0060; \u0060https%3A%2F%2Fwebhook.site%2F11f2643a-b1b4-c6be-8e6a-6c7da2c12610\u0060",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkPeopleEnrichmentRequest"
              },
              "examples": {
                "Apollo ID to enrich data": {
                  "summary": "Apollo ID to enrich data",
                  "value": {
                    "details": [
                      {
                        "id": "64a7ff0cc4dfae00013df1a5"
                      }
                    ]
                  }
                },
                "Sample request body": {
                  "summary": "Sample request body",
                  "value": {
                    "details": [
                      {
                        "first_name": "marcus",
                        "last_name": "ellery",
                        "name": "marcus ellery",
                        "email": "marcus.ellery@apollo.io",
                        "hashed_email": "6be3e6cc98ff08b43558bc5a198c7144",
                        "organization_name": "apollo",
                        "domain": "apollo.io",
                        "id": "64a7ff0cc4dfae00013df1a5",
                        "linkedin_url": "http://www.linkedin.com/in/marcus-ellery-4c2b81de"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkPeopleEnrichment200Response"
                },
                "examples": {
                  "Result": {
                    "value": {
                      "status": "success",
                      "error_code": null,
                      "error_message": null,
                      "total_requested_enrichments": 3,
                      "unique_enriched_records": 3,
                      "missing_records": 0,
                      "credits_consumed": 3,
                      "matches": [
                        {
                          "id": "64a7ff0cc4dfae00013df1a5",
                          "first_name": "Marcus",
                          "last_name": "Ellery",
                          "name": "Marcus Ellery",
                          "linkedin_url": "http://www.linkedin.com/in/marcus-ellery-4c2b81de",
                          "title": "VP of Sales Operations",
                          "email_status": "verified",
                          "photo_url": "https://media.example.com/photos/marcus-ellery.jpg",
                          "twitter_url": null,
                          "github_url": null,
                          "facebook_url": null,
                          "extrapolated_email_confidence": null,
                          "headline": "VP of Sales Operations at Apollo",
                          "email": "marcus.ellery@apollo.io",
                          "organization_id": "5e66b6381e05b4008c8331b8",
                          "employment_history": [
                            {
                              "_id": "66d8c632580636000195735f",
                              "created_at": null,
                              "current": true,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": null,
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5e66b6381e05b4008c8331b8",
                              "organization_name": "Apollo",
                              "raw_address": null,
                              "start_date": "2016-01-01",
                              "title": "VP of Sales Operations",
                              "updated_at": null,
                              "id": "66d8c632580636000195735f",
                              "key": "66d8c632580636000195735f"
                            },
                            {
                              "_id": "66d8c6325806360001957360",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2015-01-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": null,
                              "organization_name": "Braingenie",
                              "raw_address": null,
                              "start_date": "2011-01-01",
                              "title": "VP of Sales Operations",
                              "updated_at": null,
                              "id": "66d8c6325806360001957360",
                              "key": "66d8c6325806360001957360"
                            },
                            {
                              "_id": "66d8c6325806360001957361",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2011-01-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "54a22f23746869331840e813",
                              "organization_name": "Citadel Investment Group",
                              "raw_address": null,
                              "start_date": "2011-01-01",
                              "title": "Investment \u0026 Trading Associate",
                              "updated_at": null,
                              "id": "66d8c6325806360001957361",
                              "key": "66d8c6325806360001957361"
                            },
                            {
                              "_id": "66d8c6325806360001957362",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2010-09-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "54a1216169702d7fe6dfca02",
                              "organization_name": "The Boston Consulting Group",
                              "raw_address": null,
                              "start_date": "2010-08-01",
                              "title": "Summer Associate",
                              "updated_at": null,
                              "id": "66d8c6325806360001957362",
                              "key": "66d8c6325806360001957362"
                            },
                            {
                              "_id": "66d8c6325806360001957363",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2010-08-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5da2e6a3f978a8000177e831",
                              "organization_name": "Goldman Sachs",
                              "raw_address": null,
                              "start_date": "2010-06-01",
                              "title": "Summer Analyst",
                              "updated_at": null,
                              "id": "66d8c6325806360001957363",
                              "key": "66d8c6325806360001957363"
                            },
                            {
                              "_id": "66d8c6325806360001957364",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2010-02-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "54a1a06274686945fa1ffc02",
                              "organization_name": "Jane Street",
                              "raw_address": null,
                              "start_date": "2009-12-01",
                              "title": "Trading Intern",
                              "updated_at": null,
                              "id": "66d8c6325806360001957364",
                              "key": "66d8c6325806360001957364"
                            }
                          ],
                          "state": "California",
                          "city": "San Francisco",
                          "country": "United States",
                          "organization": {
                            "id": "5e66b6381e05b4008c8331b8",
                            "name": "Apollo.io",
                            "website_url": "http://www.apollo.io",
                            "blog_url": null,
                            "angellist_url": null,
                            "linkedin_url": "http://www.linkedin.com/company/apolloio",
                            "twitter_url": "https://twitter.com/meetapollo/",
                            "facebook_url": "https://www.facebook.com/MeetApollo",
                            "primary_phone": {},
                            "languages": [],
                            "alexa_ranking": 3514,
                            "phone": null,
                            "linkedin_uid": "18511550",
                            "founded_year": 2015,
                            "publicly_traded_symbol": null,
                            "publicly_traded_exchange": null,
                            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/79049be00ff8e398b5935de8/picture",
                            "crunchbase_url": null,
                            "primary_domain": "apollo.io",
                            "industry": "information technology \u0026 services",
                            "keywords": [
                              "sales engagement",
                              "lead generation",
                              "predictive analytics",
                              "lead scoring",
                              "sales strategy",
                              "conversation intelligence",
                              "sales enablement",
                              "lead routing",
                              "sales development",
                              "email engagement",
                              "revenue intelligence",
                              "sales operations",
                              "sales intelligence",
                              "lead intelligence",
                              "prospecting",
                              "b2b data"
                            ],
                            "estimated_num_employees": 1600,
                            "industries": [
                              "information technology \u0026 services"
                            ],
                            "secondary_industries": [],
                            "snippets_loaded": true,
                            "industry_tag_id": "5567cd4773696439b10b0000",
                            "industry_tag_hash": {
                              "information technology \u0026 services": "5567cd4773696439b10b0000"
                            },
                            "retail_location_count": 0,
                            "raw_address": "415 Mission St, Floor 37, San Francisco, California 94105, US",
                            "street_address": "415 Mission St",
                            "city": "San Francisco",
                            "state": "California",
                            "postal_code": "94105-2301",
                            "country": "United States"
                          },
                          "is_likely_to_engage": true,
                          "account_id": "63f53afe4ceeca00016bdd2f",
                          "account": {
                            "id": "63f53afe4ceeca00016bdd2f",
                            "name": "Apollo.io",
                            "website_url": "http://www.apollo.io",
                            "blog_url": null,
                            "angellist_url": null,
                            "linkedin_url": "http://www.linkedin.com/company/apolloio",
                            "twitter_url": "https://twitter.com/meetapollo/",
                            "facebook_url": "https://www.facebook.com/MeetApollo",
                            "primary_phone": {},
                            "languages": [],
                            "alexa_ranking": 3514,
                            "phone": "\u002B1(202) 555-0114",
                            "linkedin_uid": "18511550",
                            "founded_year": 2015,
                            "publicly_traded_symbol": null,
                            "publicly_traded_exchange": null,
                            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/79049be00ff8e398b5935de8/picture",
                            "crunchbase_url": null,
                            "primary_domain": "apollo.io",
                            "domain": "apollo.io",
                            "team_id": "6095a710bd01d100a506d4ac",
                            "organization_id": "5e66b6381e05b4008c8331b8",
                            "account_stage_id": null,
                            "source": "csv_import",
                            "original_source": "salesforce",
                            "creator_id": null,
                            "owner_id": "66aaac5a0e951f01b37012bd",
                            "created_at": "2023-02-21T21:43:26.351Z",
                            "phone_status": "no_status",
                            "hubspot_id": null,
                            "salesforce_id": "001niCRAYZ4Ho6GTKv",
                            "crm_owner_id": "005Ux6UIthHN0CrhuW",
                            "parent_account_id": null,
                            "sanitized_phone": "\u002B12025550114",
                            "account_playbook_statuses": [],
                            "account_rule_config_statuses": [
                              {
                                "_id": "664f9eef1fded70001e4983e",
                                "created_at": null,
                                "rule_action_config_id": "65735e0ea63d2700faba5c6e",
                                "rule_config_id": "65735e0ea63d2700faba5c6f",
                                "status_cd": "completed",
                                "updated_at": null,
                                "id": "664f9eef1fded70001e4983e",
                                "key": "664f9eef1fded70001e4983e"
                              }
                            ],
                            "existence_level": "full",
                            "label_ids": [
                              "6504905b21ba8e00a334eb0f"
                            ],
                            "typed_custom_fields": {},
                            "custom_field_errors": null,
                            "modality": "account",
                            "source_display_name": "Uploaded from CSV",
                            "salesforce_record_url": "https://saas-drive-2207.my.salesforce.com/001niCRAYZ4Ho6GTKv",
                            "crm_record_url": "https://saas-drive-2207.my.salesforce.com/001niCRAYZ4Ho6GTKv"
                          },
                          "departments": [
                            "c_suite"
                          ],
                          "subdepartments": [
                            "executive",
                            "founder"
                          ],
                          "seniority": "founder",
                          "functions": [
                            "entrepreneurship"
                          ],
                          "show_intent": false,
                          "revealed_for_current_team": true
                        },
                        {
                          "id": "587cf802f65125cad923a266",
                          "first_name": "Brian",
                          "last_name": "Calderwood",
                          "name": "Brian Calderwood",
                          "linkedin_url": "http://www.linkedin.com/in/brian-calderwood-9d4f2a7b",
                          "title": "VP @ Apollo.io | Publisher",
                          "email_status": "verified",
                          "photo_url": "https://media.example.com/photos/brian-calderwood.jpg",
                          "twitter_url": null,
                          "github_url": null,
                          "facebook_url": null,
                          "extrapolated_email_confidence": null,
                          "headline": "VP @ Apollo.io | Publisher at Backlit Comics",
                          "email": "brian.calderwood@apollo.io",
                          "organization_id": "5e66b6381e05b4008c8331b8",
                          "employment_history": [
                            {
                              "_id": "66d9e67b86199f0001b24246",
                              "created_at": null,
                              "current": true,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": null,
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5e66b6381e05b4008c8331b8",
                              "organization_name": "Apollo.io",
                              "raw_address": null,
                              "start_date": "2023-08-01",
                              "title": "VP @ Apollo.io | Publisher",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b24246",
                              "key": "66d9e67b86199f0001b24246"
                            },
                            {
                              "_id": "66d9e67b86199f0001b24247",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2023-08-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5e66b6381e05b4008c8331b8",
                              "organization_name": "Apollo.io",
                              "raw_address": null,
                              "start_date": "2022-12-01",
                              "title": "Head of Content Marketing \u0026 Customer Education",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b24247",
                              "key": "66d9e67b86199f0001b24247"
                            },
                            {
                              "_id": "66d9e67b86199f0001b24248",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2022-12-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5ff745ebd2b12300da0d8c49",
                              "organization_name": "Teamflow",
                              "raw_address": null,
                              "start_date": "2022-01-01",
                              "title": "Head of Revenue",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b24248",
                              "key": "66d9e67b86199f0001b24248"
                            },
                            {
                              "_id": "66d9e67b86199f0001b24249",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2022-01-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5ff745ebd2b12300da0d8c49",
                              "organization_name": "Teamflow",
                              "raw_address": null,
                              "start_date": "2021-12-01",
                              "title": "Head Of Marketing",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b24249",
                              "key": "66d9e67b86199f0001b24249"
                            },
                            {
                              "_id": "66d9e67b86199f0001b2424a",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2021-11-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "62b0a223c6e72300ca47b474",
                              "organization_name": "Autodesk",
                              "raw_address": null,
                              "start_date": "2021-04-01",
                              "title": "Sr. Growth Marketing Manager",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b2424a",
                              "key": "66d9e67b86199f0001b2424a"
                            },
                            {
                              "_id": "66d9e67b86199f0001b2424b",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2021-04-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "62b0a223c6e72300ca47b474",
                              "organization_name": "Autodesk",
                              "raw_address": null,
                              "start_date": "2019-03-01",
                              "title": "Growth Marketing Manager",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b2424b",
                              "key": "66d9e67b86199f0001b2424b"
                            },
                            {
                              "_id": "66d9e67b86199f0001b2424c",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2019-03-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": null,
                              "organization_name": "BuildingConnected, an Autodesk product",
                              "raw_address": null,
                              "start_date": "2018-10-01",
                              "title": "Marketing Automation Manager",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b2424c",
                              "key": "66d9e67b86199f0001b2424c"
                            },
                            {
                              "_id": "66d9e67b86199f0001b2424d",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2018-08-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": null,
                              "organization_name": "SpotMe Lending",
                              "raw_address": null,
                              "start_date": "2018-03-01",
                              "title": "Co-Founder, Product \u0026 Marketing",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b2424d",
                              "key": "66d9e67b86199f0001b2424d"
                            },
                            {
                              "_id": "66d9e67b86199f0001b2424e",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2016-06-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": null,
                              "organization_name": "inDinero",
                              "raw_address": null,
                              "start_date": "2015-11-01",
                              "title": "Director of Account Management",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b2424e",
                              "key": "66d9e67b86199f0001b2424e"
                            },
                            {
                              "_id": "66d9e67b86199f0001b2424f",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2015-11-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": null,
                              "organization_name": "inDinero",
                              "raw_address": null,
                              "start_date": "2014-09-01",
                              "title": "Director of Enterprise Sales",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b2424f",
                              "key": "66d9e67b86199f0001b2424f"
                            },
                            {
                              "_id": "66d9e67b86199f0001b24250",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2014-07-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5da61143b495bc000168bdca",
                              "organization_name": "FXCM",
                              "raw_address": null,
                              "start_date": "2013-06-01",
                              "title": "Forex Sales Broker",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b24250",
                              "key": "66d9e67b86199f0001b24250"
                            },
                            {
                              "_id": "66d9e67b86199f0001b24251",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2012-12-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5d0a6a7da3ae6121868fabb8",
                              "organization_name": "CreditRepair.com",
                              "raw_address": null,
                              "start_date": "2012-02-01",
                              "title": "Sales Team Leader",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b24251",
                              "key": "66d9e67b86199f0001b24251"
                            },
                            {
                              "_id": "66d9e67b86199f0001b24252",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2011-08-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "54a1b7477468694f8f25ae0a",
                              "organization_name": "Progrexion",
                              "raw_address": null,
                              "start_date": "2011-04-01",
                              "title": "Inbound Sales Representative",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b24252",
                              "key": "66d9e67b86199f0001b24252"
                            }
                          ],
                          "state": "California",
                          "city": "San Francisco",
                          "country": "United States",
                          "organization": {
                            "id": "5e66b6381e05b4008c8331b8",
                            "name": "Apollo.io",
                            "website_url": "http://www.apollo.io",
                            "blog_url": null,
                            "angellist_url": null,
                            "linkedin_url": "http://www.linkedin.com/company/apolloio",
                            "twitter_url": "https://twitter.com/meetapollo/",
                            "facebook_url": "https://www.facebook.com/MeetApollo",
                            "primary_phone": {},
                            "languages": [],
                            "alexa_ranking": 3514,
                            "phone": null,
                            "linkedin_uid": "18511550",
                            "founded_year": 2015,
                            "publicly_traded_symbol": null,
                            "publicly_traded_exchange": null,
                            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/79049be00ff8e398b5935de8/picture",
                            "crunchbase_url": null,
                            "primary_domain": "apollo.io",
                            "industry": "information technology \u0026 services",
                            "keywords": [
                              "sales engagement",
                              "lead generation",
                              "predictive analytics",
                              "lead scoring",
                              "sales strategy",
                              "conversation intelligence",
                              "sales enablement",
                              "lead routing",
                              "sales development",
                              "email engagement",
                              "revenue intelligence",
                              "sales operations",
                              "sales intelligence",
                              "lead intelligence",
                              "prospecting",
                              "b2b data"
                            ],
                            "estimated_num_employees": 1600,
                            "industries": [
                              "information technology \u0026 services"
                            ],
                            "secondary_industries": [],
                            "snippets_loaded": true,
                            "industry_tag_id": "5567cd4773696439b10b0000",
                            "industry_tag_hash": {
                              "information technology \u0026 services": "5567cd4773696439b10b0000"
                            },
                            "retail_location_count": 0,
                            "raw_address": "415 Mission St, Floor 37, San Francisco, California 94105, US",
                            "street_address": "415 Mission St",
                            "city": "San Francisco",
                            "state": "California",
                            "postal_code": "94105-2301",
                            "country": "United States"
                          },
                          "is_likely_to_engage": false,
                          "account_id": "63f53afe4ceeca00016bdd2f",
                          "account": {
                            "id": "63f53afe4ceeca00016bdd2f",
                            "name": "Apollo.io",
                            "website_url": "http://www.apollo.io",
                            "blog_url": null,
                            "angellist_url": null,
                            "linkedin_url": "http://www.linkedin.com/company/apolloio",
                            "twitter_url": "https://twitter.com/meetapollo/",
                            "facebook_url": "https://www.facebook.com/MeetApollo",
                            "primary_phone": {},
                            "languages": [],
                            "alexa_ranking": 3514,
                            "phone": "\u002B1(202) 555-0114",
                            "linkedin_uid": "18511550",
                            "founded_year": 2015,
                            "publicly_traded_symbol": null,
                            "publicly_traded_exchange": null,
                            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/79049be00ff8e398b5935de8/picture",
                            "crunchbase_url": null,
                            "primary_domain": "apollo.io",
                            "domain": "apollo.io",
                            "team_id": "6095a710bd01d100a506d4ac",
                            "organization_id": "5e66b6381e05b4008c8331b8",
                            "account_stage_id": null,
                            "source": "csv_import",
                            "original_source": "salesforce",
                            "creator_id": null,
                            "owner_id": "66aaac5a0e951f01b37012bd",
                            "created_at": "2023-02-21T21:43:26.351Z",
                            "phone_status": "no_status",
                            "hubspot_id": null,
                            "salesforce_id": "001niCRAYZ4Ho6GTKv",
                            "crm_owner_id": "005Ux6UIthHN0CrhuW",
                            "parent_account_id": null,
                            "sanitized_phone": "\u002B12025550114",
                            "account_playbook_statuses": [],
                            "account_rule_config_statuses": [
                              {
                                "_id": "664f9eef1fded70001e4983e",
                                "created_at": null,
                                "rule_action_config_id": "65735e0ea63d2700faba5c6e",
                                "rule_config_id": "65735e0ea63d2700faba5c6f",
                                "status_cd": "completed",
                                "updated_at": null,
                                "id": "664f9eef1fded70001e4983e",
                                "key": "664f9eef1fded70001e4983e"
                              }
                            ],
                            "existence_level": "full",
                            "label_ids": [
                              "6504905b21ba8e00a334eb0f"
                            ],
                            "typed_custom_fields": {},
                            "custom_field_errors": null,
                            "modality": "account",
                            "source_display_name": "Uploaded from CSV",
                            "salesforce_record_url": "https://saas-drive-2207.my.salesforce.com/001niCRAYZ4Ho6GTKv",
                            "crm_record_url": "https://saas-drive-2207.my.salesforce.com/001niCRAYZ4Ho6GTKv"
                          },
                          "departments": [],
                          "subdepartments": [],
                          "seniority": "vp",
                          "functions": [],
                          "show_intent": false,
                          "revealed_for_current_team": true
                        },
                        {
                          "id": "611d751fa587f80001890daa",
                          "first_name": "Nadia",
                          "last_name": "Calloway",
                          "name": "Nadia Calloway",
                          "linkedin_url": "http://www.linkedin.com/in/nadia-calloway-7b1e9c34",
                          "title": "Product Marketing Leader at Apollo.io, formerly",
                          "email_status": "verified",
                          "photo_url": "https://media.example.com/photos/nadia-calloway.jpg",
                          "twitter_url": null,
                          "github_url": null,
                          "facebook_url": null,
                          "extrapolated_email_confidence": null,
                          "headline": "Product Marketing Leader at Apollo.io, formerly @ Gainsight, Marketo, Podium",
                          "email": "nadia.calloway@apollo.io",
                          "organization_id": "5e66b6381e05b4008c8331b8",
                          "employment_history": [
                            {
                              "_id": "66d9520b7fea3e000137e512",
                              "created_at": null,
                              "current": true,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": null,
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5e66b6381e05b4008c8331b8",
                              "organization_name": "Apollo.io",
                              "raw_address": null,
                              "start_date": "2023-06-01",
                              "title": "Product Marketing Leader at Apollo.io, formerly",
                              "updated_at": null,
                              "id": "66d9520b7fea3e000137e512",
                              "key": "66d9520b7fea3e000137e512"
                            },
                            {
                              "_id": "66d9520b7fea3e000137e513",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2023-05-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5b84e1f6f874f7499946da53",
                              "organization_name": "Podium",
                              "raw_address": null,
                              "start_date": "2021-10-01",
                              "title": "VP, Product Marketing \u0026 Brand",
                              "updated_at": null,
                              "id": "66d9520b7fea3e000137e513",
                              "key": "66d9520b7fea3e000137e513"
                            },
                            {
                              "_id": "66d9520b7fea3e000137e514",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2021-10-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5b84e1f6f874f7499946da53",
                              "organization_name": "Podium",
                              "raw_address": null,
                              "start_date": "2020-11-01",
                              "title": "Sr. Director, Head of Product Marketing",
                              "updated_at": null,
                              "id": "66d9520b7fea3e000137e514",
                              "key": "66d9520b7fea3e000137e514"
                            },
                            {
                              "_id": "66d9520b7fea3e000137e515",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2020-11-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5da4169904a137000118172a",
                              "organization_name": "Gainsight",
[...]
