{"openapi":"3.1.0","info":{"title":"apollo-rest-api","summary":"Programmatic access to Apollo's sales intelligence and engagement platform — data enrichment, prospect and company search, and go-to-market workflow management.","description":"The Apollo API provides programmatic access to [Apollo](https://www.apollo.io/), the all-in-one sales intelligence and engagement platform. Use it to enrich people and company data (individually or in bulk), search Apollo's database of over 240 million contacts and 30 million companies, and manage accounts, contacts, deals, sequences, tasks, calls, and conversations in your go-to-market workflows.\n\n## Base URL\n\nAll API requests are made to `https://api.apollo.io/api/v1`.\n\n## Authentication\n\n- **Apollo users** authenticate with an API key passed in the `x-api-key` request header. See [Create API Keys](https://docs.apollo.io/docs/create-api-key).\n- **Apollo partners** building integrations on behalf of mutual users authenticate with the [OAuth 2.0 authorization flow](https://docs.apollo.io/docs/use-oauth-20-authorization-flow-to-access-apollo-user-information-partners).\n\n## Rate limits & credits\n\nRate limits and credit consumption depend on your [Apollo pricing plan](https://docs.apollo.io/docs/api-pricing). Check your current limits and usage with the [view API usage stats and rate limits](https://docs.apollo.io/reference/view-api-usage-stats) endpoint. For more details, see [Rate Limits](https://docs.apollo.io/reference/rate-limits) and the [API FAQs](https://docs.apollo.io/docs/apollo-api-faqs).\n\nNew to the API? Start with the [Apollo API overview](https://docs.apollo.io/reference/apollo-api).","termsOfService":"https://www.apollo.io/terms/api","contact":{"name":"Apollo API Support","url":"https://docs.apollo.io/"},"version":"1.0"},"servers":[{"url":"https://api.apollo.io/api/v1"}],"tags":[{"name":"Enrichment","description":"Enrich people and company records, individually or in bulk."},{"name":"Search","description":"Search Apollo's database of people, companies, news articles, and job postings."},{"name":"Accounts","description":"Create, update, and search the companies your team tracks in Apollo."},{"name":"Contacts","description":"Create, update, and search the people your team saves in Apollo."},{"name":"Deals","description":"Create, update, and track deals in your pipeline."},{"name":"Sequences","description":"Manage outreach sequences and the contacts enrolled in them."},{"name":"Tasks","description":"Create and search tasks for your go-to-market workflows."},{"name":"Calls","description":"Log and update call records made inside or outside Apollo."},{"name":"Conversations","description":"Search, export, and retrieve recorded conversations."},{"name":"Analytics","description":"Query saved analytics reports."},{"name":"Fields","description":"List, create, and update the fields and custom fields in your Apollo account."},{"name":"Miscellaneous","description":"Users, email accounts, lists, notes, usage stats, and webhook results."}],"components":{"securitySchemes":{"apiKey":{"type":"apiKey","in":"header","name":"x-api-key","description":"[Recommended] API key, passed in the `x-api-key` request header.\nSee [Create API Keys](https://docs.apollo.io/docs/create-api-key)."},"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"OAuth 2.0 access token, used by Apollo partners building integrations.\nSee the [OAuth 2.0 authorization flow](https://docs.apollo.io/docs/use-oauth-20-authorization-flow-to-access-apollo-user-information-partners)."}}},"security":[{"apiKey":[]},{"bearerAuth":[]}],"paths":{"/people/match":{"post":{"summary":"People enrichment","description":"## Endpoint essentials\n\n**API key access:** `api/v1/people/match` or `Master API key`\n\n**OAuth scopes:** `people_match`\n\n**Free account access:** Requires an Apollo account registered with a work email address. Paid accounts aren't affected.\n\n**Credit usage:** `1–9 credits per person` without waterfall enrichment\n\nCredits are charged only if credit-consuming data is found: 1 credit for demographics or email, plus 8 credits if a mobile phone is returned. If no credit-consuming data is found, the request consumes 0 credits. Learn more about [API pricing and credits](https://docs.apollo.io/docs/api-pricing).\n\nIf waterfall enrichment is used for phone or email, credit usage depends on the returned data and the vendors included in your [waterfall enrichment configuration](https://knowledge.apollo.io/hc/en-us/articles/34071121664781-Use-Waterfall-Enrichment); some vendors consume credits per lookup even when no data is found.\n\n<a href=\"https://knowledge.apollo.io/hc/en-us/articles/33699917233293-Enrichment-Overview\" target=\"_blank\">Enrichment</a> is when you refresh existing records so your prospecting data is up-to-date.<br><br>Use the people enrichment endpoint to enrich data for one person. To enrich data for up to ten people with a single API call, use the <a href=\"https://docs.apollo.io/reference/bulk-people-enrichment\">bulk people enrichment endpoint</a> instead.<br><br>Apollo relies on the information you pass via the endpoint's parameters to identify the correct person to enrich. If you provide more information about a person, Apollo is more likely to find a match within its database. If you only provide general information, such as a name without a domain or email address, you might receive a `200` response, but the response indicates that no records have been enriched.<br><br>By default, this endpoint doesn't return personal emails or phone numbers. Use the `reveal_personal_emails` and `reveal_phone_number` parameters to retrieve emails and phone numbers.<br><br>When you use `reveal_phone_number`, a valid `webhook_url` is required so Apollo can deliver the completed phone enrichment results. Apollo returns the main enrichment response synchronously, then sends the requested phone numbers to the webhook asynchronously. [See webhook details](#webhook-details).<br><br>You can also use the `run_waterfall_email` and `run_waterfall_phone` parameters to run waterfall enrichment via this endpoint. [Waterfall enrichment](https://knowledge.apollo.io/hc/en-us/articles/34071089002509-Waterfall-Enrichment-Overview) gives you broader data coverage by checking connected third-party data sources for contact emails and phone numbers.<br><br>When you call this endpoint and include at least one waterfall parameter, a valid `webhook_url` is required so Apollo can deliver the completed waterfall enrichment results. Apollo returns an immediate synchronous response with demographic and firmographic data, along with a waterfall enrichment request status. Apollo then delivers enriched emails or phone numbers asynchronously to the configured webhook.\n\n### Webhook Details\n\n- When using Apollo enrichment for phone number reveal, the webhook response follows: [Native webhook response details](doc:retrieve-mobile-phone-numbers-for-contacts#webhook-response-details).\n\n- When using waterfall enrichment, the webhook response follows: [Waterfall webhook response details](doc:enrich-phone-and-email-using-data-waterfall#response-details).\n\n- You can poll webhook results with the [poll webhook result](doc:poll-webhook-result) endpoint by passing the <code>request_id</code> from the people enrichment response.\n\n### Webhook Requirements\n\n- **HTTPS Required:** Your endpoint must be publicly accessible over HTTPS.\n\n- **Rate Limiting:** Ensure your webhook endpoint can handle the volume of webhook traffic sent by Apollo.\n\n- **Idempotency:** Apollo may retry webhook calls; your endpoint should be idempotent to handle duplicate payloads safely.","tags":["Enrichment"],"operationId":"people-enrichment","parameters":[{"name":"first_name","in":"query","description":"The first name of the person. This is typically used in combination with the `last_name` parameter. <br><br>Example: `tim`","schema":{"type":"string"}},{"name":"last_name","in":"query","description":"The last name of the person. This is typically used in combination with the `first_name` parameter. <br><br>Example: `zheng`","schema":{"type":"string"}},{"name":"name","in":"query","description":"The full name of the person. This will typically be a first name and last name separated by a space.  If you use this parameter, you do not need to use the `first_name` and `last_name` parameters. <br><br>Example: `tim zheng`","schema":{"type":"string"}},{"name":"email","in":"query","description":"The email address of the person. <br><br>Example: `example@email.com`","schema":{"type":"string"}},{"name":"hashed_email","in":"query","description":"The hashed email of the person. The email should adhere to either the MD5 or SHA-256 hash format. <br><br>Example: `8d935115b9ff4489f2d1f9249503cadf` (MD5) or `97817c0c49994eb500ad0a5e7e2d8aed51977b26424d508f66e4e8887746a152` (SHA-256)","schema":{"type":"string"}},{"name":"organization_name","in":"query","description":"The name of the person's employer. This can be the current employer or a previous employer. <br><br>Example: `apollo`","schema":{"type":"string"}},{"name":"domain","in":"query","description":"The domain name for the person's employer. This can be the current employer or a previous employer. Do not include `www.`, the `@` symbol, or similar. <br><br>Example: `apollo.io` or `microsoft.com`","schema":{"type":"string"}},{"name":"id","in":"query","description":"The Apollo ID for the person. Each person in the Apollo database is assigned a unique ID. <br><br>To find IDs, call the <a href=\"https://docs.apollo.io/reference/people-api-search\" target=\"_blank\">people API search endpoint</a> and identify the values for `person_id`. <br><br>Example: `587cf802f65125cad923a266`","schema":{"type":"string"}},{"name":"linkedin_url","in":"query","description":"The URL for the person's LinkedIn profile. <br><br>Example: `http://www.linkedin.com/in/tim-zheng-677ba010`","schema":{"type":"string"}},{"name":"run_waterfall_email","in":"query","description":"Set to true to enable email waterfall enrichment","schema":{"type":"boolean","default":false}},{"name":"run_waterfall_phone","in":"query","description":"Set to true to enable phone waterfall enrichment","schema":{"type":"boolean","default":false}},{"name":"reveal_personal_emails","in":"query","description":"Set to `true` if you want to enrich the person's data with personal emails. This potentially consumes credits as part of your <a href=\"https://docs.apollo.io/docs/api-pricing\" target=\"_blank\">Apollo pricing plan</a>. The default value is `false`. <br><br>If a person resides in a <a href=\"https://knowledge.apollo.io/hc/en-us/articles/4409141087757\" target=\"_blank\">GDPR</a>-compliant region, Apollo will not reveal their personal email.","schema":{"type":"boolean","default":false}},{"name":"reveal_phone_number","in":"query","description":"Set to `true` if you want to enrich the person's data with all available phone numbers, including mobile phone numbers. This potentially consumes credits as part of your <a href=\"https://docs.apollo.io/docs/api-pricing\" target=\"_blank\">Apollo pricing plan</a>. The default value is `false`. <br><br>If this parameter is set to `true`, you must enter a webhook URL for the `webhook_url` parameter. Apollo will asynchronously verify phone numbers for you, then send a JSON response that includes only details about the person's phone numbers to the webhook URL you provide. It can take several minutes for the phone numbers to be delivered.","schema":{"type":"boolean","default":false}},{"name":"webhook_url","in":"query","description":"If you set the `reveal_phone_number` parameter to `true`, this parameter becomes mandatory. Otherwise, do not use this parameter. <br><br>Enter the webhook URL that specifies where Apollo should send a JSON response that includes the phone number you requested. Apollo suggests testing this flow to ensure you receive the separate response with the phone number. <br><br>If phone numbers are not revealed delivered to the webhook URL, try applying UTF-8 encoding to the webhook URL. <br><br>Example: `https://webhook.site/11f2643a-b1b4-c6be-8e6a-6c7da2c12610`; `https%3A%2F%2Fwebhook.site%2F11f2643a-b1b4-c6be-8e6a-6c7da2c12610`","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":{"person":{"id":"64a7ff0cc4dfae00013df1a5","first_name":"Tim","last_name":"Zheng","name":"Tim Zheng","linkedin_url":"http://www.linkedin.com/in/tim-zheng-677ba010","title":"Founder & CEO","email_status":"verified","photo_url":"https://static.licdn.com/aero-v1/sc/h/uzfsocwl05iywf1hd7ba3915x","twitter_url":null,"github_url":null,"facebook_url":null,"extrapolated_email_confidence":null,"headline":"Founder & CEO at Apollo","email":"tim@apollo.io","organization_id":"5e66b6381e05b4008c8331b8","employment_history":[{"_id":"66d7af8c200cad0001404c1f","created_at":null,"current":true,"degree":null,"description":null,"emails":null,"end_date":null,"grade_level":null,"kind":null,"major":null,"organization_id":"5e66b6381e05b4008c8331b8","organization_name":"Apollo","raw_address":null,"start_date":"2016-01-01","title":"Founder & CEO","updated_at":null,"id":"66d7af8c200cad0001404c1f","key":"66d7af8c200cad0001404c1f"},{"_id":"66d7af8c200cad0001404c20","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2015-01-01","grade_level":null,"kind":null,"major":null,"organization_id":null,"organization_name":"Braingenie","raw_address":null,"start_date":"2011-01-01","title":"Founder & CEO","updated_at":null,"id":"66d7af8c200cad0001404c20","key":"66d7af8c200cad0001404c20"},{"_id":"66d7af8c200cad0001404c21","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2011-01-01","grade_level":null,"kind":null,"major":null,"organization_id":"54a22f23746869331840e813","organization_name":"Citadel Investment Group","raw_address":null,"start_date":"2011-01-01","title":"Investment & Trading Associate","updated_at":null,"id":"66d7af8c200cad0001404c21","key":"66d7af8c200cad0001404c21"},{"_id":"66d7af8c200cad0001404c22","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2010-09-01","grade_level":null,"kind":null,"major":null,"organization_id":"54a1216169702d7fe6dfca02","organization_name":"The Boston Consulting Group","raw_address":null,"start_date":"2010-08-01","title":"Summer Associate","updated_at":null,"id":"66d7af8c200cad0001404c22","key":"66d7af8c200cad0001404c22"},{"_id":"66d7af8c200cad0001404c23","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2010-08-01","grade_level":null,"kind":null,"major":null,"organization_id":"5da2e6a3f978a8000177e831","organization_name":"Goldman Sachs","raw_address":null,"start_date":"2010-06-01","title":"Summer Analyst","updated_at":null,"id":"66d7af8c200cad0001404c23","key":"66d7af8c200cad0001404c23"},{"_id":"66d7af8c200cad0001404c24","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2010-02-01","grade_level":null,"kind":null,"major":null,"organization_id":"54a1a06274686945fa1ffc02","organization_name":"Jane Street","raw_address":null,"start_date":"2009-12-01","title":"Trading Intern","updated_at":null,"id":"66d7af8c200cad0001404c24","key":"66d7af8c200cad0001404c24"}],"state":"California","city":"San Francisco","country":"United States","contact_id":"664fa05cf8299f0001f90876","contact":{"contact_roles":[],"id":"664fa05cf8299f0001f90876","first_name":"Roy","last_name":"Chung","name":"Roy Chung","linkedin_url":"http://www.linkedin.com/in/tim-zheng-677ba010","title":"Reaching Peak Potential 💪⛰️📈🧪️ | President","contact_stage_id":"6095a710bd01d100a506d4ae","owner_id":null,"creator_id":"66302798d03b9601c7934ec2","person_id":"64a7ff0cc4dfae00013df1a5","email_needs_tickling":null,"organization_name":"Apollo.io","source":"crm","original_source":"crm","organization_id":"5e66b6381e05b4008c8331b8","headline":"Reaching Peak Potential 💪⛰️📈🧪️ | President at FRC","photo_url":null,"present_raw_address":"New York, New York, United States","linkedin_uid":null,"extrapolated_email_confidence":null,"salesforce_id":null,"salesforce_lead_id":null,"salesforce_contact_id":null,"salesforce_account_id":null,"crm_owner_id":null,"created_at":"2024-05-23T20:00:28.527Z","emailer_campaign_ids":[],"direct_dial_status":null,"direct_dial_enrichment_failed_at":null,"email_status":"verified","email_source":null,"account_id":"6658955877a2f20001c648ac","last_activity_date":null,"hubspot_vid":null,"hubspot_company_id":null,"crm_id":null,"sanitized_phone":"+11235550158","merged_crm_ids":null,"updated_at":"2024-06-02T08:53:51.266Z","queued_for_crm_push":null,"suggested_from_rule_engine_config_id":null,"email_unsubscribed":null,"label_ids":[],"has_pending_email_arcgate_request":false,"has_email_arcgate_request":false,"existence_level":"invisible","email":"roy@apollo.io","email_from_customer":true,"typed_custom_fields":{},"custom_field_errors":null,"crm_record_url":null,"email_status_unavailable_reason":null,"email_true_status":"Verified","updated_email_true_status":false,"contact_rule_config_statuses":[],"source_display_name":"Imported from CRM","contact_emails":[{"email":"roy@apollo.iorrr","email_md5":"879440a4afe6515e2de11dd7c531b770","email_sha256":"d445592892011f8539d5e92394929dfda7936867c21000b21788be8a46aa73d9","email_status":"verified","email_source":null,"extrapolated_email_confidence":null,"position":0,"email_from_customer":null,"free_domain":false}],"time_zone":"America/Los_Angeles","phone_numbers":[{"raw_number":"(123) 555-0158","sanitized_number":"+11235550158","type":null,"position":0,"status":"valid_number","dnc_status":null,"dnc_other_info":null,"dialer_flags":null},{"raw_number":"(123) 555-0126","sanitized_number":"+11235550126","type":null,"position":1,"status":"valid_number","dnc_status":null,"dnc_other_info":null,"dialer_flags":null},{"raw_number":"+1-415-555-0121","sanitized_number":"+14155550121","type":null,"position":2,"status":"valid_number","dnc_status":null,"dnc_other_info":null,"dialer_flags":{"country_name":"United States","country_enabled":true,"high_risk_calling_enabled":false,"potential_high_risk_number":false}}],"account_phone_note":null,"free_domain":false,"is_likely_to_engage":false},"revealed_for_current_team":true,"organization":{"id":"5e66b6381e05b4008c8331b8","name":"Apollo.io","website_url":"http://www.apollo.io","blog_url":null,"angellist_url":null,"linkedin_url":"http://www.linkedin.com/company/apolloio","twitter_url":"https://twitter.com/meetapollo/","facebook_url":"https://www.facebook.com/MeetApollo","primary_phone":{},"languages":[],"alexa_ranking":3514,"phone":null,"linkedin_uid":"18511550","founded_year":2015,"publicly_traded_symbol":null,"publicly_traded_exchange":null,"logo_url":"https://zenprospect-production.s3.amazonaws.com/uploads/pictures/79049be00ff8e398b5935de8/picture","crunchbase_url":null,"primary_domain":"apollo.io","industry":"information technology & services","keywords":["sales engagement","lead generation","predictive analytics","lead scoring","sales strategy","conversation intelligence","sales enablement","lead routing","sales development","email engagement","revenue intelligence","sales operations","sales intelligence","lead intelligence","prospecting","b2b data"],"estimated_num_employees":1600,"industries":["information technology & services"],"secondary_industries":[],"snippets_loaded":true,"industry_tag_id":"5567cd4773696439b10b0000","industry_tag_hash":{"information technology & services":"5567cd4773696439b10b0000"},"retail_location_count":0,"raw_address":"415 Mission St, Floor 37, San Francisco, California 94105, US","street_address":"415 Mission St","city":"San Francisco","state":"California","postal_code":"94105-2301","country":"United States","owned_by_organization_id":null,"seo_description":"Search, engage, and convert over 240 million contacts at over 30 million companies with Apollo's sales intelligence and engagement platform.","short_description":"Apollo.io combines a buyer database of over 270M contacts and powerful sales engagement and automation tools in one, easy to use platform. Trusted by over 160,000 companies including Autodesk, Rippling, Deel, Jasper.ai, Divvy, and Heap, Apollo has more than one million users globally. By helping sales professionals find their ideal buyers and intelligently automate outreach, Apollo helps go-to-market teams sell anything.\n\nCelebrating a $100M Series D Funding Round 🦄","suborganizations":[],"num_suborganizations":0,"annual_revenue_printed":"100M","annual_revenue":100000000,"total_funding":251200000,"total_funding_printed":"251.2M","latest_funding_round_date":"2023-08-01T00:00:00.000+00:00","latest_funding_stage":"Series D","funding_events":[{"id":"6574c1ff9b797d0001fdab1b","date":"2023-08-01T00:00:00.000+00:00","news_url":null,"type":"Series D","investors":"Bain Capital Ventures, Sequoia Capital, Tribe Capital, Nexus Venture Partners","amount":"100M","currency":"$"},{"id":"624f4dfec786590001768016","date":"2022-03-01T00:00:00.000+00:00","news_url":null,"type":"Series C","investors":"Sequoia Capital, Tribe Capital, Nexus Venture Partners, NewView Capital","amount":"110M","currency":"$"},{"id":"61b13677623110000186a478","date":"2021-10-01T00:00:00.000+00:00","news_url":null,"type":"Series B","investors":"Tribe Capital, NewView Capital, Nexus Venture Partners","amount":"32M","currency":"$"},{"id":"5ffe93caa54d75077c59acef","date":"2018-06-26T00:00:00.000+00:00","news_url":"https://techcrunch.com/2018/06/26/yc-grad-zenprospect-rebrands-as-apollo-lands-7-m-series-a/","type":"Series A","investors":"Nexus Venture Partners, Social Capital, Y Combinator","amount":"7M","currency":"$"},{"id":"6574c1ff9b797d0001fdab20","date":"2016-10-01T00:00:00.000+00:00","news_url":null,"type":"Other","investors":"Y Combinator, SV Angel, Social Capital, Nexus Venture Partners","amount":"2.2M","currency":"$"}],"technology_names":["AI","Android","Basis","Canva","Circle","CloudFlare Hosting","Cloudflare DNS","Drift","Gmail","Google Apps","Google Tag Manager","Google Workspace","Gravity Forms","Hubspot","Intercom","Mailchimp Mandrill","Marketo","Microsoft Office 365","Mobile Friendly","Python","Rackspace MailGun","Remote","Render","Reviews","Salesforce","Stripe","Typekit","WP Engine","Wistia","WordPress.org","Yandex Metrica","reCAPTCHA"],"current_technologies":[{"uid":"ai","name":"AI","category":"Other"},{"uid":"android","name":"Android","category":"Frameworks and Programming Languages"},{"uid":"basis","name":"Basis","category":"Advertising Networks"},{"uid":"canva","name":"Canva","category":"Content Management Platform"},{"uid":"circle","name":"Circle","category":"Financial Software"},{"uid":"cloudflare_hosting","name":"CloudFlare Hosting","category":"Hosting"},{"uid":"cloudflare_dns","name":"Cloudflare DNS","category":"Domain Name Services"},{"uid":"drift","name":"Drift","category":"Widgets"},{"uid":"gmail","name":"Gmail","category":"Email Providers"},{"uid":"google_apps","name":"Google Apps","category":"Other"},{"uid":"google_tag_manager","name":"Google Tag Manager","category":"Tag Management"},{"uid":"google workspace","name":"Google Workspace","category":"Cloud Services"},{"uid":"gravity_forms","name":"Gravity Forms","category":"Hosted Forms"},{"uid":"hubspot","name":"Hubspot","category":"Marketing Automation"},{"uid":"intercom","name":"Intercom","category":"Support and Feedback"},{"uid":"mailchimp_mandrill","name":"Mailchimp Mandrill","category":"Email Delivery"},{"uid":"marketo","name":"Marketo","category":"Marketing Automation"},{"uid":"office_365","name":"Microsoft Office 365","category":"Other"},{"uid":"mobile_friendly","name":"Mobile Friendly","category":"Other"},{"uid":"python","name":"Python","category":"Frameworks and Programming Languages"},{"uid":"rackspace_mailgun","name":"Rackspace MailGun","category":"Email Delivery"},{"uid":"remote","name":"Remote","category":"Other"},{"uid":"render","name":"Render","category":"Other"},{"uid":"reviews","name":"Reviews","category":"Customer Reviews"},{"uid":"salesforce","name":"Salesforce","category":"Customer Relationship Management"},{"uid":"stripe","name":"Stripe","category":"Payments"},{"uid":"typekit","name":"Typekit","category":"Fonts"},{"uid":"wp_engine","name":"WP Engine","category":"CMS"},{"uid":"wistia","name":"Wistia","category":"Online Video Platforms"},{"uid":"wordpress_org","name":"WordPress.org","category":"CMS"},{"uid":"yandex_metrika","name":"Yandex Metrica","category":"Analytics and Tracking"},{"uid":"recaptcha","name":"reCAPTCHA","category":"Captcha"}],"org_chart_root_people_ids":["652fc57e2802bf00010c52f8"],"org_chart_sector":"OrgChart::SectorHierarchy::Rules::IT","org_chart_removed":false,"org_chart_show_department_filter":true},"is_likely_to_engage":true,"show_intent":false,"departments":["c_suite"],"subdepartments":["executive","founder"],"functions":["entrepreneurship"],"seniority":"founder"},"waterfall":{"status":"accepted","message":"Waterfall enrichment request accepted. Results will be sent to the provided webhook URL."},"request_id":1039995589705121900}}},"schema":{"type":"object","properties":{"request_id":{"type":"integer","example":1039995589705121900,"description":"The request ID for the enrichment request. Save this ID to map this request with the corresponding webhook result."},"person":{"type":"object","properties":{"id":{"type":"string","example":"64a7ff0cc4dfae00013df1a5"},"first_name":{"type":"string","example":"Tim"},"last_name":{"type":"string","example":"Zheng"},"name":{"type":"string","example":"Tim Zheng"},"linkedin_url":{"type":"string","example":"http://www.linkedin.com/in/tim-zheng-677ba010"},"title":{"type":"string","example":"Founder & CEO"},"email_status":{"type":"string","example":"verified"},"photo_url":{"type":"string","example":"https://static.licdn.com/aero-v1/sc/h/uzfsocwl05iywf1hd7ba3915x"},"twitter_url":{},"github_url":{},"facebook_url":{},"extrapolated_email_confidence":{"type":"number","nullable":true},"headline":{"type":"string","example":"Founder & CEO at Apollo"},"email":{"type":"string","example":"tim@apollo.io"},"organization_id":{"type":"string","example":"5e66b6381e05b4008c8331b8"},"employment_history":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string","example":"66d7af8c200cad0001404c1f"},"created_at":{},"current":{"type":"boolean","example":true,"default":true},"degree":{},"description":{},"emails":{},"end_date":{},"grade_level":{},"kind":{},"major":{},"organization_id":{"type":"string","example":"5e66b6381e05b4008c8331b8"},"organization_name":{"type":"string","example":"Apollo"},"raw_address":{},"start_date":{"type":"string","example":"2016-01-01"},"title":{"type":"string","example":"Founder & CEO"},"updated_at":{},"id":{"type":"string","example":"66d7af8c200cad0001404c1f"},"key":{"type":"string","example":"66d7af8c200cad0001404c1f"}}}},"state":{"type":"string","example":"California"},"city":{"type":"string","example":"San Francisco"},"country":{"type":"string","example":"United States"},"contact_id":{"type":"string","example":"664fa05cf8299f0001f90876"},"contact":{"type":"object","properties":{"contact_roles":{"type":"array"},"id":{"type":"string","example":"664fa05cf8299f0001f90876"},"first_name":{"type":"string","example":"Roy"},"last_name":{"type":"string","example":"Chung"},"name":{"type":"string","example":"Roy Chung"},"linkedin_url":{"type":"string","example":"http://www.linkedin.com/in/tim-zheng-677ba010"},"title":{"type":"string","example":"Reaching Peak Potential 💪⛰️📈🧪️ | President"},"contact_stage_id":{"type":"string","example":"6095a710bd01d100a506d4ae"},"owner_id":{},"creator_id":{"type":"string","example":"66302798d03b9601c7934ec2"},"person_id":{"type":"string","example":"64a7ff0cc4dfae00013df1a5"},"email_needs_tickling":{},"organization_name":{"type":"string","example":"Apollo.io"},"source":{"type":"string","example":"crm"},"original_source":{"type":"string","example":"crm"},"organization_id":{"type":"string","example":"5e66b6381e05b4008c8331b8"},"headline":{"type":"string","example":"Reaching Peak Potential 💪⛰️📈🧪️ | President at FRC"},"photo_url":{},"present_raw_address":{"type":"string","example":"New York, New York, United States"},"linkedin_uid":{},"extrapolated_email_confidence":{"type":"number","nullable":true},"salesforce_id":{},"salesforce_lead_id":{},"salesforce_contact_id":{},"salesforce_account_id":{},"crm_owner_id":{},"created_at":{"type":"string","example":"2024-05-23T20:00:28.527Z"},"emailer_campaign_ids":{"type":"array"},"direct_dial_status":{},"direct_dial_enrichment_failed_at":{},"email_status":{"type":"string","example":"verified"},"email_source":{},"account_id":{"type":"string","example":"6658955877a2f20001c648ac"},"last_activity_date":{},"hubspot_vid":{},"hubspot_company_id":{},"crm_id":{},"sanitized_phone":{"type":"string","example":"+11235550158"},"merged_crm_ids":{},"updated_at":{"type":"string","example":"2024-06-02T08:53:51.266Z"},"queued_for_crm_push":{},"suggested_from_rule_engine_config_id":{},"email_unsubscribed":{},"label_ids":{"type":"array"},"has_pending_email_arcgate_request":{"type":"boolean","example":false,"default":true},"has_email_arcgate_request":{"type":"boolean","example":false,"default":true},"existence_level":{"type":"string","example":"invisible"},"email":{"type":"string","example":"roy@apollo.io"},"email_from_customer":{"type":"boolean","example":true,"default":true},"typed_custom_fields":{"type":"object","properties":{}},"custom_field_errors":{},"crm_record_url":{},"email_status_unavailable_reason":{},"email_true_status":{"type":"string","example":"Verified"},"updated_email_true_status":{"type":"boolean","example":false,"default":true},"contact_rule_config_statuses":{"type":"array"},"source_display_name":{"type":"string","example":"Imported from CRM"},"contact_emails":{"type":"array","items":{"type":"object","properties":{"email":{"type":"string","example":"roy@apollo.iorrr"},"email_md5":{"type":"string","example":"879440a4afe6515e2de11dd7c531b770"},"email_sha256":{"type":"string","example":"d445592892011f8539d5e92394929dfda7936867c21000b21788be8a46aa73d9"},"email_status":{"type":"string","example":"verified"},"email_source":{},"extrapolated_email_confidence":{"type":"number","nullable":true},"position":{"type":"integer","example":0,"default":0},"email_from_customer":{},"free_domain":{"type":"boolean","example":false,"default":true}}}},"time_zone":{"type":"string","example":"America/Los_Angeles"},"phone_numbers":{"type":"array","items":{"type":"object","properties":{"raw_number":{"type":"string","example":"(123) 555-0158"},"sanitized_number":{"type":"string","example":"+11235550158"},"type":{},"position":{"type":"integer","example":0,"default":0},"status":{"type":"string","example":"valid_number"},"dnc_status":{},"dnc_other_info":{},"dialer_flags":{}}}},"account_phone_note":{},"free_domain":{"type":"boolean","example":false,"default":true},"is_likely_to_engage":{"type":"boolean","example":false,"default":true}}},"revealed_for_current_team":{"type":"boolean","example":true,"default":true},"organization":{"type":"object","properties":{"id":{"type":"string","example":"5e66b6381e05b4008c8331b8"},"name":{"type":"string","example":"Apollo.io"},"website_url":{"type":"string","example":"http://www.apollo.io"},"blog_url":{},"angellist_url":{},"linkedin_url":{"type":"string","example":"http://www.linkedin.com/company/apolloio"},"twitter_url":{"type":"string","example":"https://twitter.com/meetapollo/"},"facebook_url":{"type":"string","example":"https://www.facebook.com/MeetApollo"},"primary_phone":{"type":"object","properties":{}},"languages":{"type":"array"},"alexa_ranking":{"type":"integer","example":3514,"default":0},"phone":{},"linkedin_uid":{"type":"string","example":"18511550"},"founded_year":{"type":"integer","example":2015,"default":0},"publicly_traded_symbol":{},"publicly_traded_exchange":{},"logo_url":{"type":"string","example":"https://zenprospect-production.s3.amazonaws.com/uploads/pictures/79049be00ff8e398b5935de8/picture"},"crunchbase_url":{},"primary_domain":{"type":"string","example":"apollo.io"},"industry":{"type":"string","example":"information technology & services"},"keywords":{"type":"array","items":{"type":"string","example":"sales engagement"}},"estimated_num_employees":{"type":"integer","example":1600,"default":0},"industries":{"type":"array","items":{"type":"string","example":"information technology & services"}},"secondary_industries":{"type":"array"},"snippets_loaded":{"type":"boolean","example":true,"default":true},"industry_tag_id":{"type":"string","example":"5567cd4773696439b10b0000"},"industry_tag_hash":{"type":"object","properties":{"information technology & services":{"type":"string","example":"5567cd4773696439b10b0000"}}},"retail_location_count":{"type":"integer","example":0,"default":0},"raw_address":{"type":"string","example":"415 Mission St, Floor 37, San Francisco, California 94105, US"},"street_address":{"type":"string","example":"415 Mission St"},"city":{"type":"string","example":"San Francisco"},"state":{"type":"string","example":"California"},"postal_code":{"type":"string","example":"94105-2301"},"country":{"type":"string","example":"United States"},"owned_by_organization_id":{},"seo_description":{"type":"string","example":"Search, engage, and convert over 240 million contacts at over 30 million companies with Apollo's sales intelligence and engagement platform."},"short_description":{"type":"string","example":"Apollo.io combines a buyer database of over 270M contacts and powerful sales engagement and automation tools in one, easy to use platform. Trusted by over 160,000 companies including Autodesk, Rippling, Deel, Jasper.ai, Divvy, and Heap, Apollo has more than one million users globally. By helping sales professionals find their ideal buyers and intelligently automate outreach, Apollo helps go-to-market teams sell anything.\n\nCelebrating a $100M Series D Funding Round 🦄"},"suborganizations":{"type":"array"},"num_suborganizations":{"type":"integer","example":0,"default":0},"annual_revenue_printed":{"type":"string","example":"100M"},"annual_revenue":{"type":"integer","example":100000000,"default":0},"total_funding":{"type":"integer","example":251200000,"default":0},"total_funding_printed":{"type":"string","example":"251.2M"},"latest_funding_round_date":{"type":"string","example":"2023-08-01T00:00:00.000+00:00"},"latest_funding_stage":{"type":"string","example":"Series D"},"funding_events":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"6574c1ff9b797d0001fdab1b"},"date":{"type":"string","example":"2023-08-01T00:00:00.000+00:00"},"news_url":{},"type":{"type":"string","example":"Series D"},"investors":{"type":"string","example":"Bain Capital Ventures, Sequoia Capital, Tribe Capital, Nexus Venture Partners"},"amount":{"type":"string","example":"100M"},"currency":{"type":"string","example":"$"}}}},"technology_names":{"type":"array","items":{"type":"string","example":"AI"}},"current_technologies":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string","example":"ai"},"name":{"type":"string","example":"AI"},"category":{"type":"string","example":"Other"}}}},"org_chart_root_people_ids":{"type":"array","items":{"type":"string","example":"652fc57e2802bf00010c52f8"}},"org_chart_sector":{"type":"string","example":"OrgChart::SectorHierarchy::Rules::IT"},"org_chart_removed":{"type":"boolean","example":false,"default":true},"org_chart_show_department_filter":{"type":"boolean","example":true,"default":true}}},"is_likely_to_engage":{"type":"boolean","example":true,"default":true},"show_intent":{"type":"boolean","example":false,"default":true},"departments":{"type":"array","items":{"type":"string","example":"c_suite"}},"subdepartments":{"type":"array","items":{"type":"string","example":"executive"}},"functions":{"type":"array","items":{"type":"string","example":"entrepreneurship"}},"seniority":{"type":"string","example":"founder"}}}}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Check API key":{"value":"Invalid API key. See https://docs.apollo.io/reference/authentication for how to authenticate."}}}}},"429":{"description":"429","content":{"application/json":{"examples":{"Too many requests":{"value":{"message":"The maximum number of api calls allowed for api/v1/people/match is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade."}}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"The maximum number of api calls allowed for api/v1/people/match is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade."}}}}}}},"deprecated":false}},"/people/bulk_match":{"post":{"summary":"Bulk people enrichment","description":"## Endpoint essentials\n\n**API key access:** `api/v1/people/bulk_match` or `Master API key`\n\n**OAuth scopes:** `people_bulk_match`\n\n**Free account access:** Requires an Apollo account registered with a work email address. Paid accounts aren't affected.\n\n**Credit usage:** `1–9 credits per person` without waterfall enrichment\n\nCredits are charged only if credit-consuming data is found: 1 credit for demographics or email, plus 8 credits if a mobile phone is returned. If no credit-consuming data is found, the request consumes 0 credits. You can enrich up to 10 people per request. Learn more about [API pricing and credits](https://docs.apollo.io/docs/api-pricing).\n\nIf waterfall enrichment is used for phone or email, credit usage depends on the returned data and the vendors included in your [waterfall enrichment configuration](https://knowledge.apollo.io/hc/en-us/articles/34071121664781-Use-Waterfall-Enrichment); some vendors consume credits per lookup even when no data is found.\n\n<a href=\"https://knowledge.apollo.io/hc/en-us/articles/33699917233293-Enrichment-Overview\" target=\"_blank\">Enrichment</a> is when you refresh existing records so your prospecting data is up-to-date.<br><br>Use the bulk people enrichment endpoint to enrich data for up to ten people with a single API call. To enrich data for a single person, use the <a href=\"https://docs.apollo.io/reference/people-enrichment\">people enrichment endpoint</a> instead.<br><br>Apollo relies on the information you pass via the endpoint's parameters to identify the correct people to enrich. When you provide more information, Apollo is more likely to find matches within its database. If you only provide general information, such as a name without a domain or email address, you may receive a `200` response, but the response indicates that no records have been enriched. The details for each person should be passed as an object in the `details[]` array.<br><br>By default, this endpoint doesn't return personal emails or phone numbers. Use the `reveal_personal_emails` parameter to retrieve personal emails and `reveal_phone_number` to retrieve phone numbers. If you set either of these parameters to `true`, Apollo attempts to provide emails or phone numbers for all matches.<br><br>When you use `reveal_phone_number`, a valid `webhook_url` is required so Apollo can deliver the completed phone enrichment results. Apollo returns the main enrichment response synchronously, then sends the requested phone numbers to the webhook asynchronously. [See webhook details](#webhook-details).<br><br>You can also use the `run_waterfall_email` and `run_waterfall_phone` parameters to run waterfall enrichment via this endpoint. [Waterfall enrichment](https://knowledge.apollo.io/hc/en-us/articles/34071089002509-Waterfall-Enrichment-Overview) gives you broader data coverage by checking connected third-party data sources for contact emails and phone numbers.<br><br>When you call this endpoint and include at least one waterfall parameter, a valid `webhook_url` is required so Apollo can deliver the completed waterfall enrichment results. Apollo returns an immediate synchronous response with demographic and firmographic data, along with a waterfall enrichment request status. Apollo then delivers enriched emails or phone numbers asynchronously to the configured webhook.<br><br>\n\n### Reading the Response\n\nThe response shape depends on whether you requested waterfall enrichment, so check for the fields you need rather than assuming a fixed payload.\n\n**Standard requests** (no waterfall parameters) return `total_requested_enrichments`, `unique_enriched_records`, `missing_records`, and `credits_consumed` alongside `matches`.\n\n**Waterfall requests** (`run_waterfall_email` or `run_waterfall_phone` set to `true`) return a `waterfall` object instead. On these, `unique_enriched_records`, `missing_records`, and `credits_consumed` are **absent entirely** — not zero — because enrichment is still running and final credit usage isn't known. Only `total_requested_enrichments` appears in both shapes. When `run_waterfall_email` is `true`, each `matches` entry also omits `email` and `email_status`, since the address arrives later via your webhook.\n\nAlso worth knowing:\n\n* `unique_enriched_records` counts distinct people that **consumed credits**, not people that matched. It can be lower than the length of `matches`, or `0` while `matches` is non-empty.\n\n* `credits_consumed` can be fractional depending on your plan's credit pricing. Parse it as a decimal.\n\n* `request_id` is a signed 64-bit integer and is frequently negative. Store it in a type that handles the full signed range, and pass it unchanged to [poll webhook result](https://docs.apollo.io/reference/poll-webhook-result).\n\n* `status` is `success` for any `200` response, including one that matched nobody. Use `missing_records` and `matches` to judge what was actually enriched.\n\n### Webhook Details\n\n* When using native phone enrichment, the webhook response follows: [Native webhook response details](doc:retrieve-mobile-phone-numbers-for-contacts#webhook-response-details).\n\n* When using waterfall enrichment, the webhook response follows: [Waterfall webhook response details](doc:enrich-phone-and-email-using-data-waterfall#response-details).\n\n* You can poll webhook results with the <a href=\"https://docs.apollo.io/reference/poll-webhook-result\">poll webhook result</a> endpoint by passing the <code>request_id</code> from the bulk people enrichment response.\n\n### Webhook Requirements\n\n* **HTTPS Required:** Your endpoint must be publicly accessible over HTTPS.\n\n* **Rate Limiting:** Ensure your webhook endpoint can handle the volume of webhook traffic sent by Apollo.\n\n* **Idempotency:** Apollo may retry webhook calls. Your endpoint should be idempotent to handle duplicate payloads safely.","tags":["Enrichment"],"operationId":"bulk-people-enrichment","parameters":[{"name":"run_waterfall_email","in":"query","description":"Set to true to enable email waterfall enrichment","schema":{"type":"boolean","default":false}},{"name":"run_waterfall_phone","in":"query","description":"Set to true to enable phone waterfall enrichment","schema":{"type":"boolean","default":false}},{"name":"reveal_personal_emails","in":"query","description":"Set to `true` if you want to enrich all matched people with personal emails. This potentially consumes credits as part of your <a href=\"https://docs.apollo.io/docs/api-pricing\" target=\"_blank\">Apollo pricing plan</a>. The default value is `false`. <br><br>If a person resides in a <a href=\"https://knowledge.apollo.io/hc/en-us/articles/4409141087757\" target=\"_blank\">GDPR</a>-compliant region, Apollo will not reveal their personal email.","schema":{"type":"boolean","default":false}},{"name":"reveal_phone_number","in":"query","description":"Set to `true` if you want to enrich the data of all matched people with all available phone numbers, including mobile phone numbers. This potentially consumes credits as part of your <a href=\"https://docs.apollo.io/docs/api-pricing\" target=\"_blank\">Apollo pricing plan</a>. The default value is `false`. <br><br>If this parameter is set to `true`, you must enter a webhook URL for the `webhook_url` parameter. Apollo will asynchronously verify phone numbers for you, then send a JSON response that includes only details about the phone numbers to the webhook URL you provide. It can take several minutes for the phone numbers to be delivered.","schema":{"type":"boolean","default":false}},{"name":"webhook_url","in":"query","description":"If you set the `reveal_phone_number` parameter to `true`, this parameter becomes mandatory. Otherwise, do not use this parameter. <br><br>Enter the webhook URL that specifies where Apollo should send a JSON response that includes the phone number you requested. Apollo suggests testing this flow to ensure you receive the separate response with the phone number. <br><br>If phone numbers are not revealed delivered to the webhook URL, try applying UTF-8 encoding to the webhook URL. <br><br>Example: `https://webhook.site/11f2643a-b1b4-c6be-8e6a-6c7da2c12610`; `https%3A%2F%2Fwebhook.site%2F11f2643a-b1b4-c6be-8e6a-6c7da2c12610`","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["details"],"properties":{"details":{"type":"array","description":"Provide info for each person you want to enrich as an object within this array. Add up to 10 people.","items":{"properties":{"first_name":{"type":"string","description":"The first name of the person. This is typically used in combination with the `last_name` parameter. <br><br>Example: `tim`"},"last_name":{"type":"string","description":"The last name of the person. This is typically used in combination with the `first_name` parameter. <br><br>Example: `zheng`"},"name":{"type":"string","description":"The full name of the person. This will typically be a first name and last name separated by a space.  If you use this parameter, you do not need to use the `first_name` and `last_name` parameters. <br><br>Example: `tim zheng`"},"email":{"type":"string","description":"The email address of the person. <br><br>Example: `example@email.com`"},"hashed_email":{"type":"string","description":"The hashed email of the person. The email should adhere to either the MD5 or SHA-256 hash format. <br><br>Example: `6be3e6cc98ff08b43558bc5a198c7144` (MD5) or `97817c0c49994eb500ad0a5e7e2d8aed51977b26424d508f66e4e8887746a152` (SHA-256)"},"organization_name":{"type":"string","description":"The name of the person's employer. This can be the current employer or a previous employer. <br><br>Example: `apollo`"},"domain":{"type":"string","description":"The domain name for the person's employer. This can be the current employer or a previous employer. Do not include `www.`, the `@` symbol, or similar. <br><br>Example: `apollo.io` or `microsoft.com`"},"id":{"type":"string","description":"The Apollo ID for the person. Each person in the Apollo database is assigned a unique ID. <br><br>To find IDs, call the <a href=\"https://docs.apollo.io/reference/people-api-search\" target=\"_blank\">people API search endpoint</a> and identify the values for `person_id`. <br><br>Example: `587cf802f65125cad923a266`"},"linkedin_url":{"type":"string","description":"The URL for the person's LinkedIn profile. <br><br>Example: `http://www.linkedin.com/in/marcus-ellery-4c2b81de`"}},"type":"object"}}}},"examples":{"Apollo ID to enrich data":{"summary":"Apollo ID to enrich data","value":{"details":[{"id":"64a7ff0cc4dfae00013df1a5"}]}},"Sample request body":{"summary":"Sample request body","value":{"details":[{"first_name":"marcus","last_name":"ellery","name":"marcus ellery","email":"marcus.ellery@apollo.io","hashed_email":"6be3e6cc98ff08b43558bc5a198c7144","organization_name":"apollo","domain":"apollo.io","id":"64a7ff0cc4dfae00013df1a5","linkedin_url":"http://www.linkedin.com/in/marcus-ellery-4c2b81de"}]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":{"status":"success","error_code":null,"error_message":null,"total_requested_enrichments":3,"unique_enriched_records":3,"missing_records":0,"credits_consumed":3,"matches":[{"id":"64a7ff0cc4dfae00013df1a5","first_name":"Marcus","last_name":"Ellery","name":"Marcus Ellery","linkedin_url":"http://www.linkedin.com/in/marcus-ellery-4c2b81de","title":"VP of Sales Operations","email_status":"verified","photo_url":"https://media.example.com/photos/marcus-ellery.jpg","twitter_url":null,"github_url":null,"facebook_url":null,"extrapolated_email_confidence":null,"headline":"VP of Sales Operations at Apollo","email":"marcus.ellery@apollo.io","organization_id":"5e66b6381e05b4008c8331b8","employment_history":[{"_id":"66d8c632580636000195735f","created_at":null,"current":true,"degree":null,"description":null,"emails":null,"end_date":null,"grade_level":null,"kind":null,"major":null,"organization_id":"5e66b6381e05b4008c8331b8","organization_name":"Apollo","raw_address":null,"start_date":"2016-01-01","title":"VP of Sales Operations","updated_at":null,"id":"66d8c632580636000195735f","key":"66d8c632580636000195735f"},{"_id":"66d8c6325806360001957360","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2015-01-01","grade_level":null,"kind":null,"major":null,"organization_id":null,"organization_name":"Braingenie","raw_address":null,"start_date":"2011-01-01","title":"VP of Sales Operations","updated_at":null,"id":"66d8c6325806360001957360","key":"66d8c6325806360001957360"},{"_id":"66d8c6325806360001957361","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2011-01-01","grade_level":null,"kind":null,"major":null,"organization_id":"54a22f23746869331840e813","organization_name":"Citadel Investment Group","raw_address":null,"start_date":"2011-01-01","title":"Investment & Trading Associate","updated_at":null,"id":"66d8c6325806360001957361","key":"66d8c6325806360001957361"},{"_id":"66d8c6325806360001957362","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2010-09-01","grade_level":null,"kind":null,"major":null,"organization_id":"54a1216169702d7fe6dfca02","organization_name":"The Boston Consulting Group","raw_address":null,"start_date":"2010-08-01","title":"Summer Associate","updated_at":null,"id":"66d8c6325806360001957362","key":"66d8c6325806360001957362"},{"_id":"66d8c6325806360001957363","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2010-08-01","grade_level":null,"kind":null,"major":null,"organization_id":"5da2e6a3f978a8000177e831","organization_name":"Goldman Sachs","raw_address":null,"start_date":"2010-06-01","title":"Summer Analyst","updated_at":null,"id":"66d8c6325806360001957363","key":"66d8c6325806360001957363"},{"_id":"66d8c6325806360001957364","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2010-02-01","grade_level":null,"kind":null,"major":null,"organization_id":"54a1a06274686945fa1ffc02","organization_name":"Jane Street","raw_address":null,"start_date":"2009-12-01","title":"Trading Intern","updated_at":null,"id":"66d8c6325806360001957364","key":"66d8c6325806360001957364"}],"state":"California","city":"San Francisco","country":"United States","organization":{"id":"5e66b6381e05b4008c8331b8","name":"Apollo.io","website_url":"http://www.apollo.io","blog_url":null,"angellist_url":null,"linkedin_url":"http://www.linkedin.com/company/apolloio","twitter_url":"https://twitter.com/meetapollo/","facebook_url":"https://www.facebook.com/MeetApollo","primary_phone":{},"languages":[],"alexa_ranking":3514,"phone":null,"linkedin_uid":"18511550","founded_year":2015,"publicly_traded_symbol":null,"publicly_traded_exchange":null,"logo_url":"https://zenprospect-production.s3.amazonaws.com/uploads/pictures/79049be00ff8e398b5935de8/picture","crunchbase_url":null,"primary_domain":"apollo.io","industry":"information technology & services","keywords":["sales engagement","lead generation","predictive analytics","lead scoring","sales strategy","conversation intelligence","sales enablement","lead routing","sales development","email engagement","revenue intelligence","sales operations","sales intelligence","lead intelligence","prospecting","b2b data"],"estimated_num_employees":1600,"industries":["information technology & services"],"secondary_industries":[],"snippets_loaded":true,"industry_tag_id":"5567cd4773696439b10b0000","industry_tag_hash":{"information technology & services":"5567cd4773696439b10b0000"},"retail_location_count":0,"raw_address":"415 Mission St, Floor 37, San Francisco, California 94105, US","street_address":"415 Mission St","city":"San Francisco","state":"California","postal_code":"94105-2301","country":"United States"},"is_likely_to_engage":true,"account_id":"63f53afe4ceeca00016bdd2f","account":{"id":"63f53afe4ceeca00016bdd2f","name":"Apollo.io","website_url":"http://www.apollo.io","blog_url":null,"angellist_url":null,"linkedin_url":"http://www.linkedin.com/company/apolloio","twitter_url":"https://twitter.com/meetapollo/","facebook_url":"https://www.facebook.com/MeetApollo","primary_phone":{},"languages":[],"alexa_ranking":3514,"phone":"+1(202) 555-0114","linkedin_uid":"18511550","founded_year":2015,"publicly_traded_symbol":null,"publicly_traded_exchange":null,"logo_url":"https://zenprospect-production.s3.amazonaws.com/uploads/pictures/79049be00ff8e398b5935de8/picture","crunchbase_url":null,"primary_domain":"apollo.io","domain":"apollo.io","team_id":"6095a710bd01d100a506d4ac","organization_id":"5e66b6381e05b4008c8331b8","account_stage_id":null,"source":"csv_import","original_source":"salesforce","creator_id":null,"owner_id":"66aaac5a0e951f01b37012bd","created_at":"2023-02-21T21:43:26.351Z","phone_status":"no_status","hubspot_id":null,"salesforce_id":"001niCRAYZ4Ho6GTKv","crm_owner_id":"005Ux6UIthHN0CrhuW","parent_account_id":null,"sanitized_phone":"+12025550114","account_playbook_statuses":[],"account_rule_config_statuses":[{"_id":"664f9eef1fded70001e4983e","created_at":null,"rule_action_config_id":"65735e0ea63d2700faba5c6e","rule_config_id":"65735e0ea63d2700faba5c6f","status_cd":"completed","updated_at":null,"id":"664f9eef1fded70001e4983e","key":"664f9eef1fded70001e4983e"}],"existence_level":"full","label_ids":["6504905b21ba8e00a334eb0f"],"typed_custom_fields":{},"custom_field_errors":null,"modality":"account","source_display_name":"Uploaded from CSV","salesforce_record_url":"https://saas-drive-2207.my.salesforce.com/001niCRAYZ4Ho6GTKv","crm_record_url":"https://saas-drive-2207.my.salesforce.com/001niCRAYZ4Ho6GTKv"},"departments":["c_suite"],"subdepartments":["executive","founder"],"seniority":"founder","functions":["entrepreneurship"],"show_intent":false,"revealed_for_current_team":true},{"id":"587cf802f65125cad923a266","first_name":"Brian","last_name":"Calderwood","name":"Brian Calderwood","linkedin_url":"http://www.linkedin.com/in/brian-calderwood-9d4f2a7b","title":"VP @ Apollo.io | Publisher","email_status":"verified","photo_url":"https://media.example.com/photos/brian-calderwood.jpg","twitter_url":null,"github_url":null,"facebook_url":null,"extrapolated_email_confidence":null,"headline":"VP @ Apollo.io | Publisher at Backlit Comics","email":"brian.calderwood@apollo.io","organization_id":"5e66b6381e05b4008c8331b8","employment_history":[{"_id":"66d9e67b86199f0001b24246","created_at":null,"current":true,"degree":null,"description":null,"emails":null,"end_date":null,"grade_level":null,"kind":null,"major":null,"organization_id":"5e66b6381e05b4008c8331b8","organization_name":"Apollo.io","raw_address":null,"start_date":"2023-08-01","title":"VP @ Apollo.io | Publisher","updated_at":null,"id":"66d9e67b86199f0001b24246","key":"66d9e67b86199f0001b24246"},{"_id":"66d9e67b86199f0001b24247","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2023-08-01","grade_level":null,"kind":null,"major":null,"organization_id":"5e66b6381e05b4008c8331b8","organization_name":"Apollo.io","raw_address":null,"start_date":"2022-12-01","title":"Head of Content Marketing & Customer Education","updated_at":null,"id":"66d9e67b86199f0001b24247","key":"66d9e67b86199f0001b24247"},{"_id":"66d9e67b86199f0001b24248","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2022-12-01","grade_level":null,"kind":null,"major":null,"organization_id":"5ff745ebd2b12300da0d8c49","organization_name":"Teamflow","raw_address":null,"start_date":"2022-01-01","title":"Head of Revenue","updated_at":null,"id":"66d9e67b86199f0001b24248","key":"66d9e67b86199f0001b24248"},{"_id":"66d9e67b86199f0001b24249","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2022-01-01","grade_level":null,"kind":null,"major":null,"organization_id":"5ff745ebd2b12300da0d8c49","organization_name":"Teamflow","raw_address":null,"start_date":"2021-12-01","title":"Head Of Marketing","updated_at":null,"id":"66d9e67b86199f0001b24249","key":"66d9e67b86199f0001b24249"},{"_id":"66d9e67b86199f0001b2424a","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2021-11-01","grade_level":null,"kind":null,"major":null,"organization_id":"62b0a223c6e72300ca47b474","organization_name":"Autodesk","raw_address":null,"start_date":"2021-04-01","title":"Sr. Growth Marketing Manager","updated_at":null,"id":"66d9e67b86199f0001b2424a","key":"66d9e67b86199f0001b2424a"},{"_id":"66d9e67b86199f0001b2424b","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2021-04-01","grade_level":null,"kind":null,"major":null,"organization_id":"62b0a223c6e72300ca47b474","organization_name":"Autodesk","raw_address":null,"start_date":"2019-03-01","title":"Growth Marketing Manager","updated_at":null,"id":"66d9e67b86199f0001b2424b","key":"66d9e67b86199f0001b2424b"},{"_id":"66d9e67b86199f0001b2424c","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2019-03-01","grade_level":null,"kind":null,"major":null,"organization_id":null,"organization_name":"BuildingConnected, an Autodesk product","raw_address":null,"start_date":"2018-10-01","title":"Marketing Automation Manager","updated_at":null,"id":"66d9e67b86199f0001b2424c","key":"66d9e67b86199f0001b2424c"},{"_id":"66d9e67b86199f0001b2424d","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2018-08-01","grade_level":null,"kind":null,"major":null,"organization_id":null,"organization_name":"SpotMe Lending","raw_address":null,"start_date":"2018-03-01","title":"Co-Founder, Product & Marketing","updated_at":null,"id":"66d9e67b86199f0001b2424d","key":"66d9e67b86199f0001b2424d"},{"_id":"66d9e67b86199f0001b2424e","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2016-06-01","grade_level":null,"kind":null,"major":null,"organization_id":null,"organization_name":"inDinero","raw_address":null,"start_date":"2015-11-01","title":"Director of Account Management","updated_at":null,"id":"66d9e67b86199f0001b2424e","key":"66d9e67b86199f0001b2424e"},{"_id":"66d9e67b86199f0001b2424f","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2015-11-01","grade_level":null,"kind":null,"major":null,"organization_id":null,"organization_name":"inDinero","raw_address":null,"start_date":"2014-09-01","title":"Director of Enterprise Sales","updated_at":null,"id":"66d9e67b86199f0001b2424f","key":"66d9e67b86199f0001b2424f"},{"_id":"66d9e67b86199f0001b24250","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2014-07-01","grade_level":null,"kind":null,"major":null,"organization_id":"5da61143b495bc000168bdca","organization_name":"FXCM","raw_address":null,"start_date":"2013-06-01","title":"Forex Sales Broker","updated_at":null,"id":"66d9e67b86199f0001b24250","key":"66d9e67b86199f0001b24250"},{"_id":"66d9e67b86199f0001b24251","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2012-12-01","grade_level":null,"kind":null,"major":null,"organization_id":"5d0a6a7da3ae6121868fabb8","organization_name":"CreditRepair.com","raw_address":null,"start_date":"2012-02-01","title":"Sales Team Leader","updated_at":null,"id":"66d9e67b86199f0001b24251","key":"66d9e67b86199f0001b24251"},{"_id":"66d9e67b86199f0001b24252","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2011-08-01","grade_level":null,"kind":null,"major":null,"organization_id":"54a1b7477468694f8f25ae0a","organization_name":"Progrexion","raw_address":null,"start_date":"2011-04-01","title":"Inbound Sales Representative","updated_at":null,"id":"66d9e67b86199f0001b24252","key":"66d9e67b86199f0001b24252"}],"state":"California","city":"San Francisco","country":"United States","organization":{"id":"5e66b6381e05b4008c8331b8","name":"Apollo.io","website_url":"http://www.apollo.io","blog_url":null,"angellist_url":null,"linkedin_url":"http://www.linkedin.com/company/apolloio","twitter_url":"https://twitter.com/meetapollo/","facebook_url":"https://www.facebook.com/MeetApollo","primary_phone":{},"languages":[],"alexa_ranking":3514,"phone":null,"linkedin_uid":"18511550","founded_year":2015,"publicly_traded_symbol":null,"publicly_traded_exchange":null,"logo_url":"https://zenprospect-production.s3.amazonaws.com/uploads/pictures/79049be00ff8e398b5935de8/picture","crunchbase_url":null,"primary_domain":"apollo.io","industry":"information technology & services","keywords":["sales engagement","lead generation","predictive analytics","lead scoring","sales strategy","conversation intelligence","sales enablement","lead routing","sales development","email engagement","revenue intelligence","sales operations","sales intelligence","lead intelligence","prospecting","b2b data"],"estimated_num_employees":1600,"industries":["information technology & services"],"secondary_industries":[],"snippets_loaded":true,"industry_tag_id":"5567cd4773696439b10b0000","industry_tag_hash":{"information technology & services":"5567cd4773696439b10b0000"},"retail_location_count":0,"raw_address":"415 Mission St, Floor 37, San Francisco, California 94105, US","street_address":"415 Mission St","city":"San Francisco","state":"California","postal_code":"94105-2301","country":"United States"},"is_likely_to_engage":false,"account_id":"63f53afe4ceeca00016bdd2f","account":{"id":"63f53afe4ceeca00016bdd2f","name":"Apollo.io","website_url":"http://www.apollo.io","blog_url":null,"angellist_url":null,"linkedin_url":"http://www.linkedin.com/company/apolloio","twitter_url":"https://twitter.com/meetapollo/","facebook_url":"https://www.facebook.com/MeetApollo","primary_phone":{},"languages":[],"alexa_ranking":3514,"phone":"+1(202) 555-0114","linkedin_uid":"18511550","founded_year":2015,"publicly_traded_symbol":null,"publicly_traded_exchange":null,"logo_url":"https://zenprospect-production.s3.amazonaws.com/uploads/pictures/79049be00ff8e398b5935de8/picture","crunchbase_url":null,"primary_domain":"apollo.io","domain":"apollo.io","team_id":"6095a710bd01d100a506d4ac","organization_id":"5e66b6381e05b4008c8331b8","account_stage_id":null,"source":"csv_import","original_source":"salesforce","creator_id":null,"owner_id":"66aaac5a0e951f01b37012bd","created_at":"2023-02-21T21:43:26.351Z","phone_status":"no_status","hubspot_id":null,"salesforce_id":"001niCRAYZ4Ho6GTKv","crm_owner_id":"005Ux6UIthHN0CrhuW","parent_account_id":null,"sanitized_phone":"+12025550114","account_playbook_statuses":[],"account_rule_config_statuses":[{"_id":"664f9eef1fded70001e4983e","created_at":null,"rule_action_config_id":"65735e0ea63d2700faba5c6e","rule_config_id":"65735e0ea63d2700faba5c6f","status_cd":"completed","updated_at":null,"id":"664f9eef1fded70001e4983e","key":"664f9eef1fded70001e4983e"}],"existence_level":"full","label_ids":["6504905b21ba8e00a334eb0f"],"typed_custom_fields":{},"custom_field_errors":null,"modality":"account","source_display_name":"Uploaded from CSV","salesforce_record_url":"https://saas-drive-2207.my.salesforce.com/001niCRAYZ4Ho6GTKv","crm_record_url":"https://saas-drive-2207.my.salesforce.com/001niCRAYZ4Ho6GTKv"},"departments":[],"subdepartments":[],"seniority":"vp","functions":[],"show_intent":false,"revealed_for_current_team":true},{"id":"611d751fa587f80001890daa","first_name":"Nadia","last_name":"Calloway","name":"Nadia Calloway","linkedin_url":"http://www.linkedin.com/in/nadia-calloway-7b1e9c34","title":"Product Marketing Leader at Apollo.io, formerly","email_status":"verified","photo_url":"https://media.example.com/photos/nadia-calloway.jpg","twitter_url":null,"github_url":null,"facebook_url":null,"extrapolated_email_confidence":null,"headline":"Product Marketing Leader at Apollo.io, formerly @ Gainsight, Marketo, Podium","email":"nadia.calloway@apollo.io","organization_id":"5e66b6381e05b4008c8331b8","employment_history":[{"_id":"66d9520b7fea3e000137e512","created_at":null,"current":true,"degree":null,"description":null,"emails":null,"end_date":null,"grade_level":null,"kind":null,"major":null,"organization_id":"5e66b6381e05b4008c8331b8","organization_name":"Apollo.io","raw_address":null,"start_date":"2023-06-01","title":"Product Marketing Leader at Apollo.io, formerly","updated_at":null,"id":"66d9520b7fea3e000137e512","key":"66d9520b7fea3e000137e512"},{"_id":"66d9520b7fea3e000137e513","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2023-05-01","grade_level":null,"kind":null,"major":null,"organization_id":"5b84e1f6f874f7499946da53","organization_name":"Podium","raw_address":null,"start_date":"2021-10-01","title":"VP, Product Marketing & Brand","updated_at":null,"id":"66d9520b7fea3e000137e513","key":"66d9520b7fea3e000137e513"},{"_id":"66d9520b7fea3e000137e514","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2021-10-01","grade_level":null,"kind":null,"major":null,"organization_id":"5b84e1f6f874f7499946da53","organization_name":"Podium","raw_address":null,"start_date":"2020-11-01","title":"Sr. Director, Head of Product Marketing","updated_at":null,"id":"66d9520b7fea3e000137e514","key":"66d9520b7fea3e000137e514"},{"_id":"66d9520b7fea3e000137e515","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2020-11-01","grade_level":null,"kind":null,"major":null,"organization_id":"5da4169904a137000118172a","organization_name":"Gainsight","raw_address":null,"start_date":"2020-06-01","title":"Head of Product Marketing","updated_at":null,"id":"66d9520b7fea3e000137e515","key":"66d9520b7fea3e000137e515"},{"_id":"66d9520b7fea3e000137e516","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2020-06-01","grade_level":null,"kind":null,"major":null,"organization_id":"5da4169904a137000118172a","organization_name":"Gainsight","raw_address":null,"start_date":"2019-10-01","title":"Sr. Director, Product Marketing","updated_at":null,"id":"66d9520b7fea3e000137e516","key":"66d9520b7fea3e000137e516"},{"_id":"66d9520b7fea3e000137e517","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2019-10-01","grade_level":null,"kind":null,"major":null,"organization_id":"5da4169904a137000118172a","organization_name":"Gainsight","raw_address":null,"start_date":"2018-09-01","title":"Director of Product Marketing","updated_at":null,"id":"66d9520b7fea3e000137e517","key":"66d9520b7fea3e000137e517"},{"_id":"66d9520b7fea3e000137e518","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2018-08-01","grade_level":null,"kind":null,"major":null,"organization_id":"5ce358f53acc510bd70fee14","organization_name":"Marketo, an Adobe company","raw_address":null,"start_date":"2018-01-01","title":"Director of Solutions & Content Marketing (Head of Global Content Marketing)","updated_at":null,"id":"66d9520b7fea3e000137e518","key":"66d9520b7fea3e000137e518"},{"_id":"66d9520b7fea3e000137e519","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2018-01-01","grade_level":null,"kind":null,"major":null,"organization_id":"5ce358f53acc510bd70fee14","organization_name":"Marketo, an Adobe company","raw_address":null,"start_date":"2017-01-01","title":"Principal, Commercial Product Marketing","updated_at":null,"id":"66d9520b7fea3e000137e519","key":"66d9520b7fea3e000137e519"},{"_id":"66d9520b7fea3e000137e51a","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2017-01-01","grade_level":null,"kind":null,"major":null,"organization_id":"5ce358f53acc510bd70fee14","organization_name":"Marketo, an Adobe company","raw_address":null,"start_date":"2015-08-01","title":"Senior Product Marketing Manager","updated_at":null,"id":"66d9520b7fea3e000137e51a","key":"66d9520b7fea3e000137e51a"},{"_id":"66d9520b7fea3e000137e51b","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2015-08-01","grade_level":null,"kind":null,"major":null,"organization_id":"5e596f42110b1400019edb6a","organization_name":"PeopleFluent","raw_address":null,"start_date":"2015-01-01","title":"Product Marketing Manager","updated_at":null,"id":"66d9520b7fea3e000137e51b","key":"66d9520b7fea3e000137e51b"},{"_id":"66d9520b7fea3e000137e51c","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2014-12-01","grade_level":null,"kind":null,"major":null,"organization_id":null,"organization_name":"Harte Hanks / The Aberdeen Group","raw_address":null,"start_date":"2014-05-01","title":"Product Marketing Manager","updated_at":null,"id":"66d9520b7fea3e000137e51c","key":"66d9520b7fea3e000137e51c"},{"_id":"66d9520b7fea3e000137e51d","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2014-05-01","grade_level":null,"kind":null,"major":null,"organization_id":null,"organization_name":"Harte Hanks / The Aberdeen Group","raw_address":null,"start_date":"2013-12-01","title":"Product Marketing Specialist","updated_at":null,"id":"66d9520b7fea3e000137e51d","key":"66d9520b7fea3e000137e51d"},{"_id":"66d9520b7fea3e000137e51e","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2013-12-01","grade_level":null,"kind":null,"major":null,"organization_id":null,"organization_name":"ConnectEDU (formerly Experience, Inc.)","raw_address":null,"start_date":"2013-06-01","title":"Director of Marketing","updated_at":null,"id":"66d9520b7fea3e000137e51e","key":"66d9520b7fea3e000137e51e"},{"_id":"66d9520b7fea3e000137e51f","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2013-06-01","grade_level":null,"kind":null,"major":null,"organization_id":null,"organization_name":"ConnectEDU (formerly Experience, Inc.)","raw_address":null,"start_date":"2012-09-01","title":"Marketing Manager","updated_at":null,"id":"66d9520b7fea3e000137e51f","key":"66d9520b7fea3e000137e51f"},{"_id":"66d9520b7fea3e000137e520","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2012-09-01","grade_level":null,"kind":null,"major":null,"organization_id":null,"organization_name":"ConnectEDU (formerly Experience, Inc.)","raw_address":null,"start_date":"2012-04-01","title":"Solutions Consultant","updated_at":null,"id":"66d9520b7fea3e000137e520","key":"66d9520b7fea3e000137e520"},{"_id":"66d9520b7fea3e000137e521","created_at":null,"current":false,"degree":null,"description":null,"emails":null,"end_date":"2012-04-01","grade_level":null,"kind":null,"major":null,"organization_id":null,"organization_name":"ConnectEDU (formerly Experience, Inc.)","raw_address":null,"start_date":"2011-03-01","title":"Account Executive","updated_at":null,"id":"66d9520b7fea3e000137e521","key":"66d9520b7fea3e000137e521"}],"state":"Georgia","city":"Atlanta","country":"United States","organization":{"id":"5e66b6381e05b4008c8331b8","name":"Apollo.io","website_url":"http://www.apollo.io","blog_url":null,"angellist_url":null,"linkedin_url":"http://www.linkedin.com/company/apolloio","twitter_url":"https://twitter.com/meetapollo/","facebook_url":"https://www.facebook.com/MeetApollo","primary_phone":{},"languages":[],"alexa_ranking":3514,"phone":null,"linkedin_uid":"18511550","founded_year":2015,"publicly_traded_symbol":null,"publicly_traded_exchange":null,"logo_url":"https://zenprospect-production.s3.amazonaws.com/uploads/pictures/79049be00ff8e398b5935de8/picture","crunchbase_url":null,"primary_domain":"apollo.io","industry":"information technology & services","keywords":["sales engagement","lead generation","predictive analytics","lead scoring","sales strategy","conversation intelligence","sales enablement","lead routing","sales development","email engagement","revenue intelligence","sales operations","sales intelligence","lead intelligence","prospecting","b2b data"],"estimated_num_employees":1600,"industries":["information technology & services"],"secondary_industries":[],"snippets_loaded":true,"industry_tag_id":"5567cd4773696439b10b0000","industry_tag_hash":{"information technology & services":"5567cd4773696439b10b0000"},"retail_location_count":0,"raw_address":"415 Mission St, Floor 37, San Francisco, California 94105, US","street_address":"415 Mission St","city":"San Francisco","state":"California","postal_code":"94105-2301","country":"United States"},"is_likely_to_engage":false,"account_id":"63f53afe4ceeca00016bdd2f","account":{"id":"63f53afe4ceeca00016bdd2f","name":"Apollo.io","website_url":"http://www.apollo.io","blog_url":null,"angellist_url":null,"linkedin_url":"http://www.linkedin.com/company/apolloio","twitter_url":"https://twitter.com/meetapollo/","facebook_url":"https://www.facebook.com/MeetApollo","primary_phone":{},"languages":[],"alexa_ranking":3514,"phone":"+1(202) 555-0114","linkedin_uid":"18511550","founded_year":2015,"publicly_traded_symbol":null,"publicly_traded_exchange":null,"logo_url":"https://zenprospect-production.s3.amazonaws.com/uploads/pictures/79049be00ff8e398b5935de8/picture","crunchbase_url":null,"primary_domain":"apollo.io","domain":"apollo.io","team_id":"6095a710bd01d100a506d4ac","organization_id":"5e66b6381e05b4008c8331b8","account_stage_id":null,"source":"csv_import","original_source":"salesforce","creator_id":null,"owner_id":"66aaac5a0e951f01b37012bd","created_at":"2023-02-21T21:43:26.351Z","phone_status":"no_status","hubspot_id":null,"salesforce_id":"001niCRAYZ4Ho6GTKv","crm_owner_id":"005Ux6UIthHN0CrhuW","parent_account_id":null,"sanitized_phone":"+12025550114","account_playbook_statuses":[],"account_rule_config_statuses":[{"_id":"664f9eef1fded70001e4983e","created_at":null,"rule_action_config_id":"65735e0ea63d2700faba5c6e","rule_config_id":"65735e0ea63d2700faba5c6f","status_cd":"completed","updated_at":null,"id":"664f9eef1fded70001e4983e","key":"664f9eef1fded70001e4983e"}],"existence_level":"full","label_ids":["6504905b21ba8e00a334eb0f"],"typed_custom_fields":{},"custom_field_errors":null,"modality":"account","source_display_name":"Uploaded from CSV","salesforce_record_url":"https://saas-drive-2207.my.salesforce.com/001niCRAYZ4Ho6GTKv","crm_record_url":"https://saas-drive-2207.my.salesforce.com/001niCRAYZ4Ho6GTKv"},"departments":["master_marketing"],"subdepartments":["marketing","product_marketing"],"seniority":"entry","functions":["marketing"],"show_intent":false,"revealed_for_current_team":true}],"request_id":1039995589705121900}},"Waterfall enrichment result":{"summary":"Response when run_waterfall_email or run_waterfall_phone is true","value":{"status":"success","error_code":null,"error_message":null,"total_requested_enrichments":1,"matches":[{"id":"64a7ff0cc4dfae00013df1a5","first_name":"Marcus","last_name":"Ellery","name":"Marcus Ellery","title":"VP of Sales Operations","linkedin_url":"http://www.linkedin.com/in/marcus-ellery-4c2b81de","organization_id":"5e66b6381e05b4008c8331b8","city":"San Francisco","state":"California","country":"United States","revealed_for_current_team":true}],"waterfall":{"status":"accepted","message":"Waterfall enrichment request accepted. Results will be sent to the provided webhook URL."},"request_id":1039995589705121900}}},"schema":{"type":"object","properties":{"request_id":{"type":"integer","example":1039995589705121900,"description":"The request ID for the enrichment request. Save this ID to map this request with the corresponding webhook result. <br><br>This is a signed 64-bit integer and is often negative, so store it in a type that accommodates the full signed range."},"status":{"type":"string","example":"success","description":"`success` for any `200` response. Error responses return `failed` instead. <br><br>This reflects the enrichment call itself, not whether any person was matched — a request that matches nobody still returns `success`."},"error_code":{"type":["string","null"],"example":null,"description":"Always `null` on a `200` response. Populated only on error responses."},"error_message":{"type":["string","null"],"example":null,"description":"Always `null` on a `200` response. Populated only on error responses."},"total_requested_enrichments":{"type":"integer","example":3,"default":0,"description":"The number of objects you sent in the `details[]` array. Always returned."},"unique_enriched_records":{"type":"integer","example":3,"default":0,"description":"The number of distinct people that consumed credits on this request. <br><br>This is a billing count, not a match count. A person who was matched but returned no credit-consuming data isn't included, so this can be lower than the number of entries in `matches` — or `0` while `matches` is non-empty. Duplicate entries in `details[]` that resolve to the same person are counted once. <br><br>**Not returned** when `run_waterfall_email` or `run_waterfall_phone` is `true`; those requests return the `waterfall` object instead."},"missing_records":{"type":"integer","example":0,"default":0,"description":"The number of entries in `details[]` that Apollo couldn't match to a person in its database. <br><br>**Not returned** when `run_waterfall_email` or `run_waterfall_phone` is `true`; those requests return the `waterfall` object instead."},"credits_consumed":{"type":"number","example":3,"default":0,"description":"The total credits this request consumed. <br><br>This can be a fraction rather than a whole number, depending on your plan's credit pricing, so parse it as a decimal rather than an integer. <br><br>**Not returned** when `run_waterfall_email` or `run_waterfall_phone` is `true`; those requests return the `waterfall` object instead. Waterfall credit usage is reported separately, since enrichment completes asynchronously."},"waterfall":{"type":"object","description":"Returned **only** when you set `run_waterfall_email` or `run_waterfall_phone` to `true`. It reports whether Apollo accepted the waterfall request, whose results arrive asynchronously at your `webhook_url`. <br><br>When this object is present, `unique_enriched_records`, `missing_records`, and `credits_consumed` are omitted from the response.","properties":{"status":{"type":"string","example":"accepted","description":"Whether the waterfall enrichment request was accepted for asynchronous processing. A `200` response with a non-accepted status means no webhook will be delivered — read `message` for the reason."},"message":{"type":"string","example":"Waterfall enrichment request accepted. Results will be sent to the provided webhook URL.","description":"A human-readable explanation of the waterfall status. When a request isn't accepted, this states why — for example, that no waterfall enrichment template is configured for your team."},"unprocessed_attributes":{"type":"array","description":"Present only when some of the records you submitted couldn't be queued for waterfall enrichment. Each entry echoes the attributes Apollo was unable to process.","items":{"type":"object"}}}},"phone_enrichment":{"type":"object","description":"Returned when you set `reveal_phone_number` to `true`, at least one person in `details[]` was matched, and you aren't using `run_waterfall_phone`. Phone numbers are enriched asynchronously and delivered to your `webhook_url`, so this object reports the status of that background work rather than the numbers themselves. <br><br>If you requested `run_waterfall_phone` instead, phone status is reported through the `waterfall` object.","properties":{"request_id":{"type":"string","example":"64a7ff0cc4dfae00013df1a5","description":"Identifier for the phone enrichment job. Returned only when status is `pending`."},"status":{"type":"string","enum":["pending","skipped"],"example":"pending","description":"`pending` means enrichment is running and a webhook will follow. `skipped` means the matched people already had an enrichment in progress from an earlier request, so no webhook will be sent for this request — the results arrive via the earlier request instead."},"message":{"type":"string","example":"Phone enrichment is processing asynchronously. Retrieve the result by polling GET /api/v1/webhook_result/{request_id} with the top-level `request_id` field from this response. Retry after ~10 seconds.","description":"A human-readable explanation of the phone enrichment status, including how to retrieve the result."}}},"matches":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"64a7ff0cc4dfae00013df1a5"},"first_name":{"type":"string","example":"Marcus"},"last_name":{"type":"string","example":"Ellery"},"name":{"type":"string","example":"Marcus Ellery"},"linkedin_url":{"type":"string","example":"http://www.linkedin.com/in/marcus-ellery-4c2b81de"},"title":{"type":"string","example":"VP of Sales Operations"},"email_status":{"type":"string","example":"verified"},"photo_url":{"type":"string","example":"https://media.example.com/photos/marcus-ellery.jpg"},"twitter_url":{},"github_url":{},"facebook_url":{},"extrapolated_email_confidence":{"type":"number","nullable":true},"headline":{"type":"string","example":"VP of Sales Operations at Apollo"},"email":{"type":"string","example":"marcus.ellery@apollo.io"},"organization_id":{"type":"string","example":"5e66b6381e05b4008c8331b8"},"employment_history":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string","example":"66d8c632580636000195735f"},"created_at":{},"current":{"type":"boolean","example":true,"default":true},"degree":{},"description":{},"emails":{},"end_date":{},"grade_level":{},"kind":{},"major":{},"organization_id":{"type":"string","example":"5e66b6381e05b4008c8331b8"},"organization_name":{"type":"string","example":"Apollo"},"raw_address":{},"start_date":{"type":"string","example":"2016-01-01"},"title":{"type":"string","example":"VP of Sales Operations"},"updated_at":{},"id":{"type":"string","example":"66d8c632580636000195735f"},"key":{"type":"string","example":"66d8c632580636000195735f"}}}},"state":{"type":"string","example":"California"},"city":{"type":"string","example":"San Francisco"},"country":{"type":"string","example":"United States"},"organization":{"type":"object","properties":{"id":{"type":"string","example":"5e66b6381e05b4008c8331b8"},"name":{"type":"string","example":"Apollo.io"},"website_url":{"type":"string","example":"http://www.apollo.io"},"blog_url":{},"angellist_url":{},"linkedin_url":{"type":"string","example":"http://www.linkedin.com/company/apolloio"},"twitter_url":{"type":"string","example":"https://twitter.com/meetapollo/"},"facebook_url":{"type":"string","example":"https://www.facebook.com/MeetApollo"},"primary_phone":{"type":"object","properties":{}},"languages":{"type":"array"},"alexa_ranking":{"type":"integer","example":3514,"default":0},"phone":{},"linkedin_uid":{"type":"string","example":"18511550"},"founded_year":{"type":"integer","example":2015,"default":0},"publicly_traded_symbol":{},"publicly_traded_exchange":{},"logo_url":{"type":"string","example":"https://zenprospect-production.s3.amazonaws.com/uploads/pictures/79049be00ff8e398b5935de8/picture"},"crunchbase_url":{},"primary_domain":{"type":"string","example":"apollo.io"},"industry":{"type":"string","example":"information technology & services"},"keywords":{"type":"array","items":{"type":"string","example":"sales engagement"}},"estimated_num_employees":{"type":"integer","example":1600,"default":0},"industries":{"type":"array","items":{"type":"string","example":"information technology & services"}},"secondary_industries":{"type":"array"},"snippets_loaded":{"type":"boolean","example":true,"default":true},"industry_tag_id":{"type":"string","example":"5567cd4773696439b10b0000"},"industry_tag_hash":{"type":"object","properties":{"information technology & services":{"type":"string","example":"5567cd4773696439b10b0000"}}},"retail_location_count":{"type":"integer","example":0,"default":0},"raw_address":{"type":"string","example":"415 Mission St, Floor 37, San Francisco, California 94105, US"},"street_address":{"type":"string","example":"415 Mission St"},"city":{"type":"string","example":"San Francisco"},"state":{"type":"string","example":"California"},"postal_code":{"type":"string","example":"94105-2301"},"country":{"type":"string","example":"United States"}}},"is_likely_to_engage":{"type":"boolean","example":true,"default":true},"account_id":{"type":"string","example":"63f53afe4ceeca00016bdd2f"},"account":{"type":"object","properties":{"id":{"type":"string","example":"63f53afe4ceeca00016bdd2f"},"name":{"type":"string","example":"Apollo.io"},"website_url":{"type":"string","example":"http://www.apollo.io"},"blog_url":{},"angellist_url":{},"linkedin_url":{"type":"string","example":"http://www.linkedin.com/company/apolloio"},"twitter_url":{"type":"string","example":"https://twitter.com/meetapollo/"},"facebook_url":{"type":"string","example":"https://www.facebook.com/MeetApollo"},"primary_phone":{"type":"object","properties":{}},"languages":{"type":"array"},"alexa_ranking":{"type":"integer","example":3514,"default":0},"phone":{"type":"string","example":"+1(202) 555-0114"},"linkedin_uid":{"type":"string","example":"18511550"},"founded_year":{"type":"integer","example":2015,"default":0},"publicly_traded_symbol":{},"publicly_traded_exchange":{},"logo_url":{"type":"string","example":"https://zenprospect-production.s3.amazonaws.com/uploads/pictures/79049be00ff8e398b5935de8/picture"},"crunchbase_url":{},"primary_domain":{"type":"string","example":"apollo.io"},"domain":{"type":"string","example":"apollo.io"},"team_id":{"type":"string","example":"6095a710bd01d100a506d4ac"},"organization_id":{"type":"string","example":"5e66b6381e05b4008c8331b8"},"account_stage_id":{},"source":{"type":"string","example":"csv_import"},"original_source":{"type":"string","example":"salesforce"},"creator_id":{},"owner_id":{"type":"string","example":"66aaac5a0e951f01b37012bd"},"created_at":{"type":"string","example":"2023-02-21T21:43:26.351Z"},"phone_status":{"type":"string","example":"no_status"},"hubspot_id":{},"salesforce_id":{"type":"string","example":"001niCRAYZ4Ho6GTKv"},"crm_owner_id":{"type":"string","example":"005Ux6UIthHN0CrhuW"},"parent_account_id":{},"sanitized_phone":{"type":"string","example":"+12025550114"},"account_playbook_statuses":{"type":"array"},"account_rule_config_statuses":{"type":"array","items":{"type":"object","properties":{"_id":{"type":"string","example":"664f9eef1fded70001e4983e"},"created_at":{},"rule_action_config_id":{"type":"string","example":"65735e0ea63d2700faba5c6e"},"rule_config_id":{"type":"string","example":"65735e0ea63d2700faba5c6f"},"status_cd":{"type":"string","example":"completed"},"updated_at":{},"id":{"type":"string","example":"664f9eef1fded70001e4983e"},"key":{"type":"string","example":"664f9eef1fded70001e4983e"}}}},"existence_level":{"type":"string","example":"full"},"label_ids":{"type":"array","items":{"type":"string","example":"6504905b21ba8e00a334eb0f"}},"typed_custom_fields":{"type":"object","properties":{}},"custom_field_errors":{},"modality":{"type":"string","example":"account"},"source_display_name":{"type":"string","example":"Uploaded from CSV"},"salesforce_record_url":{"type":"string","example":"https://saas-drive-2207.my.salesforce.com/001niCRAYZ4Ho6GTKv"},"crm_record_url":{"type":"string","example":"https://saas-drive-2207.my.salesforce.com/001niCRAYZ4Ho6GTKv"}}},"departments":{"type":"array","items":{"type":"string","example":"c_suite"}},"subdepartments":{"type":"array","items":{"type":"string","example":"executive"}},"seniority":{"type":"string","example":"founder"},"functions":{"type":"array","items":{"type":"string","example":"entrepreneurship"}},"show_intent":{"type":"boolean","example":false,"default":true},"revealed_for_current_team":{"type":"boolean","example":true,"default":true}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Add people to enrich":{"value":{"status":"failed","error_code":"INVALID_REQUEST","error_message":"invalid request, missing details"}},"More than 10 people":{"value":{"status":"failed","error_code":"RECORD_LIMIT_EXCEEDED","error_message":"cannot enrich more than 10 in a single request"}}},"schema":{"oneOf":[{"title":"Add people to enrich","type":"object","properties":{"status":{"type":"string","example":"failed"},"error_code":{"type":"string","example":"INVALID_REQUEST"},"error_message":{"type":"string","example":"invalid request, missing details"}}},{"title":"More than 10 people","type":"object","properties":{"status":{"type":"string","example":"failed"},"error_code":{"type":"string","example":"RECORD_LIMIT_EXCEEDED"},"error_message":{"type":"string","example":"domain count cannot be more than 10"}}}]}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Check API key":{"value":"Invalid API key. See https://docs.apollo.io/reference/authentication for how to authenticate."}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"status\": \"failed\",\n  \"error_code\": \"UNKNOWN_ERROR\",\n  \"error_message\": \"no implicit conversion of Symbol into Integer\"\n}"}},"schema":{"oneOf":[{"type":"object","properties":{"status":{"type":"string","example":"failed"},"error_code":{"type":"string","example":"UNKNOWN_ERROR"},"error_message":{"type":"string","example":"undefined method `length' for an instance of ActionController::Parameters"}}},{"type":"object","properties":{"status":{"type":"string","example":"failed"},"error_code":{"type":"string","example":"UNKNOWN_ERROR"},"error_message":{"type":"string","example":"no implicit conversion of Symbol into Integer"}}}]}}}},"429":{"description":"429","content":{"application/json":{"examples":{"Too many requests":{"value":"{\n    \"message\": \"The maximum number of api calls allowed for api/v1/people/bulk_match is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade.\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"The maximum number of api calls allowed for api/v1/people/bulk_match is 600 times per hour. Please upgrade your plan from https://app.apollo.io/#/settings/plans/upgrade."}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"code":"curl --request POST \\\n     --url 'https://api.apollo.io/api/v1/people/bulk_match?reveal_personal_emails=false&reveal_phone_number=false' \\\n     --header 'Cache-Control: no-cache' \\\n     --header 'Content-Type: application/json' \\\n     --header 'accept: application/json' \\\n     --data '\n{\n  \"details\": [\n    {\n      \"first_name\": \"marcus\",\n      \"last_name\": \"ellery\",\n      \"name\": \"marcus ellery\",\n      \"email\": \"marcus.ellery@apollo.io\",\n      \"hashed_email\": \"6be3e6cc98ff08b43558bc5a198c7144\",\n      \"organization_name\": \"apollo\",\n      \"domain\": \"apollo.io\",\n      \"id\": \"587cf802f65125cad923a266\",\n      \"linkedin_url\": \"http://www.linkedin.com/in/marcus-ellery-4c2b81de\"\n    }\n  ]\n}\n'","language":"shell","name":""}],"samples-languages":["shell"]}}},"/organizations/enrich":{"get":{"summary":"Organization enrichment","description":"## Endpoint essentials\n\n**API key access:** `api/v1/organizations/enrich` or `Master API key`\n\n**OAuth scopes:** `organizations_enrich`\n\n**Free account access:** Requires an Apollo account registered with a work email address. Paid accounts aren't affected.\n\n**Credit usage:** `1 credit per organization` — [Learn more about API pricing and credits](https://docs.apollo.io/docs/api-pricing).\n\n<a href=\"https://knowledge.apollo.io/hc/en-us/articles/33699917233293-Enrichment-Overview\" target=\"_blank\">Enrichment</a> is when you refresh existing records so your prospecting data is up-to-date.<br><br>Use the organization enrichment endpoint to enrich data for one company. To enrich data for up to ten companies with a single API call, use the <a href=\"https://docs.apollo.io/reference/bulk-organization-enrichment\">bulk organization enrichment endpoint</a> instead.<br><br>You can match the company to enrich by domain, LinkedIn URL, name, and/or website. At least one of these is required, and providing more than one improves match accuracy.<br><br>Enriched data potentially includes industry information, revenue, employee counts, funding round details, corporate phone numbers, locations, language counts, retail-location counts, and organization hierarchy data. The <code>owned_by_organization</code> field identifies the immediate parent, <code>owned_by_chain</code> lists parent organization IDs from the immediate parent to the ultimate parent, and <code>ultimate_parent_organization</code> identifies the topmost parent. The <code>suborganizations</code> array includes each direct subsidiary's industries, estimated employee count, and country when available.","tags":["Enrichment"],"operationId":"organization-enrichment","parameters":[{"name":"domain","in":"query","description":"The domain of the company that you want to enrich. Do not include `www.`, the `@` symbol, or similar. <br><br>At least one of `domain`, `linkedin_url`, `name`, or `website` is required. <br><br>Example: `apollo.io` or `microsoft.com`","required":false,"schema":{"type":"string"}},{"name":"linkedin_url","in":"query","description":"The URL for the company's LinkedIn profile. <br><br>At least one of `domain`, `linkedin_url`, `name`, or `website` is required. <br><br>Example: `http://www.linkedin.com/company/apolloio`","required":false,"schema":{"type":"string"}},{"name":"name","in":"query","description":"The name of the company that you want to enrich. <br><br>At least one of `domain`, `linkedin_url`, `name`, or `website` is required. <br><br>Example: `apollo`","required":false,"schema":{"type":"string"}},{"name":"website","in":"query","description":"The full website URL of the company that you want to enrich. <br><br>At least one of `domain`, `linkedin_url`, `name`, or `website` is required. <br><br>Example: `http://www.apollo.io`","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":{"organization":{"id":"5e66b6381e05b4008c8331b8","name":"Apollo.io","website_url":"http://www.apollo.io","blog_url":null,"angellist_url":null,"linkedin_url":"http://www.linkedin.com/company/apolloio","twitter_url":"https://twitter.com/meetapollo/","facebook_url":"https://www.facebook.com/MeetApollo","primary_phone":{},"languages":[],"num_languages":0,"alexa_ranking":3514,"phone":null,"linkedin_uid":"18511550","founded_year":2015,"publicly_traded_symbol":null,"publicly_traded_exchange":null,"logo_url":"https://zenprospect-production.s3.amazonaws.com/uploads/pictures/79049be00ff8e398b5935de8/picture","crunchbase_url":null,"primary_domain":"apollo.io","industry":"information technology & services","keywords":["sales engagement","lead generation","predictive analytics","lead scoring","sales strategy","conversation intelligence","sales enablement","lead routing","sales development","email engagement","revenue intelligence","sales operations","sales intelligence","lead intelligence","prospecting","b2b data"],"estimated_num_employees":1600,"industries":["information technology & services"],"secondary_industries":[],"snippets_loaded":true,"industry_tag_id":"5567cd4773696439b10b0000","industry_tag_hash":{"information technology & services":"5567cd4773696439b10b0000"},"retail_location_count":0,"num_retail_locations":0,"raw_address":"415 Mission St, Floor 37, San Francisco, California 94105, US","street_address":"415 Mission St","city":"San Francisco","state":"California","postal_code":"94105-2301","country":"United States","owned_by_organization_id":null,"seo_description":"Search, engage, and convert over 240 million contacts at over 30 million companies with Apollo's sales intelligence and engagement platform.","short_description":"Apollo.io combines a buyer database of over 270M contacts and powerful sales engagement and automation tools in one, easy to use platform. Trusted by over 160,000 companies including Autodesk, Rippling, Deel, Jasper.ai, Divvy, and Heap, Apollo has more than one million users globally. By helping sales professionals find their ideal buyers and intelligently automate outreach, Apollo helps go-to-market teams sell anything.\n\nCelebrating a $100M Series D Funding Round 🦄","suborganizations":[],"num_suborganizations":0,"annual_revenue_printed":"100M","annual_revenue":100000000,"total_funding":251200000,"total_funding_printed":"251.2M","latest_funding_round_date":"2023-08-01T00:00:00.000+00:00","latest_funding_stage":"Series D","funding_events":[{"id":"6574c1ff9b797d0001fdab1b","date":"2023-08-01T00:00:00.000+00:00","news_url":null,"type":"Series D","investors":"Bain Capital Ventures, Sequoia Capital, Tribe Capital, Nexus Venture Partners","amount":"100M","currency":"$"},{"id":"624f4dfec786590001768016","date":"2022-03-01T00:00:00.000+00:00","news_url":null,"type":"Series C","investors":"Sequoia Capital, Tribe Capital, Nexus Venture Partners, NewView Capital","amount":"110M","currency":"$"},{"id":"61b13677623110000186a478","date":"2021-10-01T00:00:00.000+00:00","news_url":null,"type":"Series B","investors":"Tribe Capital, NewView Capital, Nexus Venture Partners","amount":"32M","currency":"$"},{"id":"5ffe93caa54d75077c59acef","date":"2018-06-26T00:00:00.000+00:00","news_url":"https://techcrunch.com/2018/06/26/yc-grad-zenprospect-rebrands-as-apollo-lands-7-m-series-a/","type":"Series A","investors":"Nexus Venture Partners, Social Capital, Y Combinator","amount":"7M","currency":"$"},{"id":"6574c1ff9b797d0001fdab20","date":"2016-10-01T00:00:00.000+00:00","news_url":null,"type":"Other","investors":"Y Combinator, SV Angel, Social Capital, Nexus Venture Partners","amount":"2.2M","currency":"$"}],"technology_names":["AI","Android","Basis","Canva","Circle","CloudFlare Hosting","Cloudflare DNS","Drift","Gmail","Google Apps","Google Tag Manager","Google Workspace","Gravity Forms","Hubspot","Intercom","Mailchimp Mandrill","Marketo","Microsoft Office 365","Mobile Friendly","Python","Rackspace MailGun","Remote","Render","Reviews","Salesforce","Stripe","Typekit","WP Engine","Wistia","WordPress.org","Yandex Metrica","reCAPTCHA"],"current_technologies":[{"uid":"ai","name":"AI","category":"Other"},{"uid":"android","name":"Android","category":"Frameworks and Programming Languages"},{"uid":"basis","name":"Basis","category":"Advertising Networks"},{"uid":"canva","name":"Canva","category":"Content Management Platform"},{"uid":"circle","name":"Circle","category":"Financial Software"},{"uid":"cloudflare_hosting","name":"CloudFlare Hosting","category":"Hosting"},{"uid":"cloudflare_dns","name":"Cloudflare DNS","category":"Domain Name Services"},{"uid":"drift","name":"Drift","category":"Widgets"},{"uid":"gmail","name":"Gmail","category":"Email 
[...]
